<div class="col-md-12" class="container" ng-controller="ambienteController" data-ng-init="inicioAmbientes()">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Ambientes</h5>

                <div ibox-tools></div> <div class="botones_inspinia_lmc">
                        <a class="btn btn-primary" ng-click="limpiar()" data-toggle="modal" data-target="#registro">
                        <i class="glyphicon glyphicon-plus-sign"></i> Nuevo Ambiente</a>
                    </div>
            </div>
            <div class="ibox-content">
                <table ng-table="tablaAmbientes" show-filter="true" class="table table-striped">
                        <tr ng-repeat="ambiente in $data" ng-class="{'colorInactivo': ambiente.usrEstado == 'INACTIVO'}">
                            <td align="center" data-title="'Opciones'" style="width: 80px;">
                                <a ng-click="modificarAmbienteCargar(ambiente)" class="btn btn-info btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-pencil"></i></a>
                                <a ng-click="eliminarAmbienteCargar(ambiente)" class="btn btn-info btn-circle" data-toggle="modal" data-target="#registro"><i class="fa fa-trash-o"></i></a>
                            </td>
                           <td data-title="'Codigo Catastral'" sortable="'codcat'" filter="{'codcat':'text'}">{{ambiente.codcat}}</td>
                           <td data-title="'Nombre'" sortable="'nombre'" filter="{'nombre':'text'}">{{ambiente.nombre}}</td>
                           <td data-title="'Dirección'" sortable="'dir'" filter="{'usrclave':'dir'}">{{ambiente.dir}}</td>
                           <td data-title="'destino'" sortable="'dest'" filter="{'dest':'text'}">{{ambiente.dest}}</td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}  </h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioAmbientes" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" >
                                    <label for="url">Codigo Catastral</label>
                                    <div class="controls">
                                         <input ng-model="datosAmbiente.codcat" id="codcat" name="codcat" class="form-control" type="text" placeholder="Ingrese codigo" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.codcat.$invalid">
                                            <span ng-show="formularioAmbientes.codcat.$error.required"> El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title">Codigo Finanaciero</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.codfin" id="codfin" name="codfin" class="form-control" type="text" placeholder="Ingrese codigo" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.codfin.$invalid">
                                            <span ng-show="formularioAmbientes.codfin.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title">Latitud</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.lat" id="lat" name="lat" class="form-control" type="text" placeholder="Ingrese codigo" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.lat.$invalid">
                                            <span ng-show="formularioAmbientes.lat.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title">Longitud</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.long" id="long" name="long" class="form-control" type="text" placeholder="Ingrese codigo" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.long.$invalid">
                                            <span ng-show="formularioAmbientes.long.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title">Nombre del Bien Inmueble</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.nombre" id="nombre" name="nombre" class="form-control" type="text" placeholder="Ingrese codigo" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.nombre.$invalid">
                                            <span ng-show="formularioAmbientes.nombre.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title">Macrodistrito</label>
                                    <div class="controls">
                                        <select id="macro" name="macro" placeholder="-- Seleccione --" ng-model="datosAmbiente.macro" class="form-control" ng-options="dato.idmacro as dato.macro for dato in datosMacrodistritos" ng-change="getDistritos(datosAmbiente.macro); GetValueMacrodistrito();" required ng-disabled="desabilitado">
                                            <option value=""></option>
                                        </select>
                                        <span style="color:red" ng-show="formularioAmbientes.macro.$invalid">
                                            <span ng-show="formularioAmbientes.macro.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title">Distrito</label>
                                    <div class="controls">
                                        <select id="dist" name="dist" placeholder="-- Seleccione --" ng-model="datosAmbiente.dist" class="form-control" ng-options="dato.iddistrito as dato.distrito for dato in datosDistritos" ng-change="getZonas(datosAmbiente.dist); GetValueDistrito();" required ng-disabled="desabilitado">
                                            <option value=""></option>
                                        </select>
                                        <span style="color:red" ng-show="formularioAmbientes.dist.$invalid">
                                            <span ng-show="formularioAmbientes.dist.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="url">Zona</label>
                                    <div class="controls">
                                        <select id="zona" name="zona" placeholder="-- Seleccione --" ng-model="datosAmbiente.zona" class="form-control" ng-options="dato.idzona as dato.zona for dato in datosZonas" ng-change=" GetValueZonaActividad();GetDatosVia(datosAmbiente.zona)" required >
                                            <option value=""></option>
                                        </select>
                                        <span style="color:red" ng-show="formularioAmbientes.zona.$invalid">
                                            <span ng-show="formularioAmbientes.zona.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="url">Dirección</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.dir" id="dir" name="dir" class="form-control" type="text" placeholder="ingrese clave" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.dir.$invalid">
                                            <span ng-show="formularioAmbientes.dir.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="url">Destino</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.dest" id="dest" name="dest" class="form-control" type="text" placeholder="ingrese clave" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.dest.$invalid">
                                            <span ng-show="formularioAmbientes.dest.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="url">Subclasificacion</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.clas" id="clas" name="clas" class="form-control" type="text" placeholder="ingrese clave" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.clas.$invalid">
                                            <span ng-show="formularioAmbientes.clas.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="url">Superficie de Edificacion</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.suped" id="suped" name="suped" class="form-control" type="text" placeholder="ingrese clave" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.suped.$invalid">
                                            <span ng-show="formularioAmbientes.suped.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="url">Superficie de Terreno</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.supter" id="supter" name="supter" class="form-control" type="text" placeholder="ingrese clave" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.supter.$invalid">
                                            <span ng-show="formularioAmbientes.supter.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="url">Valor del Inmueble</label>
                                    <div class="controls">
                                        <input ng-model="datosAmbiente.valinm" id="valinm" name="valinm" class="form-control" type="text" placeholder="ingrese clave" ng-disabled="desabilitado" required>
                                        <span style="color:red" ng-show="formularioAmbientes.valinm.$invalid">
                                            <span ng-show="formularioAmbientes.valinm.$error.required">El dato es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button ng-click="adicionarAmbiente(datosAmbiente)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'" ng-disabled="formularioAmbientes.$invalid">Guardar</button>
                    <button ng-click="modificarAmbiente(datosAmbiente)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioAmbientes.$invalid">Modificar</button>
                    <button ng-click="eliminarAmbiente(datosAmbiente)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"> 
</script>