<script>
function juegosController($scope,  $rootScope, DreamFactory, CONFIG, sessionService) {
    var fecha= new Date();
    $scope.fechactual=fecha.getFullYear() + "-" + fecha.getMonth() + "-" + fecha.getDate() + " " + fecha.getHours() + ":" + fecha.getMinutes() + ":" + fecha.getSeconds();
    
    $scope.startDateOpen = function($event) {
        $event.preventDefault();
        $event.stopPropagation();
        $scope.startDateOpened = true;
    };
    
    $scope.getListaRequisitos = function(lista){
        $rootScope.datosRequisitosCheckBox = lista;
    };

    $scope.getListaCondicionesTecnicas = function(lista){
        $rootScope.datosRequisitosCondiciones = lista;       
    };

    //resid
    $scope.checkAll = function() {
        $scope.datos.INT_CON_TEC = $scope.INT_CON_TEC.map(function(item) { return item.resid; });
    };
    
    $scope.tituloForm1 = "TRÁMITE: EMISIÓN DE AUTORIZACIÓN PARA EL FUNCIONAMIENTO DE JUEGOS MECANICOS_ELECTROMECANICOS VERIFICACIÓN DE REQUISITOS Y ORDEN DE DEMOLICIÓN - PERSONA JURÍDICA";
    $scope.titulo2Form1 = "VERIFICACIÓN DE REQUISITOS Y ORDEN DE DEMOLICIÓN - PERSONA JURÍDICA";
}
</script>
<div class="animated fadeInRight">
    <form class="form-horizontal" name="formulario" novalidate>
    <div class="wrap" ng-controller="juegosController" ng-init="getListaRequisitos(datos.AE_REQ);getListaCondicionesTecnicas(datos.INT_CON_TEC)">
        
        <div class="ibox-title_2">
            <h5>Datos Generales de la Actividad</h5>
        </div>        
        <div class="form-group"><label class="col-sm-2 control-label">Fecha de Solicitud:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_FEC_SOLICITUD}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>        
        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Juegos:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_CARRUSEL}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>        
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> Actividad: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_ACTIVIDAD_DESCRIPCION}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Tipo de Contribuyente:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_TIPO_CONTRIBUYENTE}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> PMC Nro.: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NUM_PMC}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>

        <div class="ibox-title_2">
            <h5> Documento Personal del Representante Legal</h5>
        </div>
        <!-- <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> Solicitante: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_SOLICITANTE}}" class="form-control"></div>
        </div>  -->
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Documento: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_TIPO_DOC_IDENTIDAD}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Numero de Documento: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NUM_DOC}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>       
        <div class="form-group"><label class="col-sm-2 control-label">Expedido en: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_EXP}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>     
        <div class="form-group"><label class="col-sm-2 control-label">Correo Electrónico: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_CORREO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>    
        <div class="form-group"><label class="col-sm-2 control-label">Número de Teléfono Celular: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_TEL_CELULAR}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>  

        <div class="ibox-title_2">
            <h5>Documentos Legales del Representante Legal </h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">NIT: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_NIT}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Razón Social: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_RAZON_SOCIAL}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Documento: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_TIPO_DOCUMENTO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>     
        <div class="form-group"><label class="col-sm-2 control-label">Número de Poder Legal: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_NUM_DOCUMENTO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>    
        <div class="form-group"><label class="col-sm-2 control-label">Fecha de Emisión: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_FEC_EMISION_DOCUMENTO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>    
        <div class="form-group"><label class="col-sm-2 control-label">Notaría Nro.: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NUM_NOTARIA}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>    

        <div class="ibox-title_2">
            <h5>Datos Personales del Representante Legal</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Primer Nombre:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_PRIMER_NOMBRE}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Segundo Nombre: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_SEGUNDO_NOMBRE}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Apellido Paterno: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_PATERNO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>     
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Apellido Materno:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_MATERNO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>     
        <div class="form-group"><label class="col-sm-2 control-label">Apellido Casada:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_CASADA}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>   
        <div class="form-group"><label class="col-sm-2 control-label">Nacionalidad: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NACIONALIDAD}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>     
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Fecha de Nacimiento:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_RL_FEC_NACIMIENTO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>

        <div class="ibox-title_2">
            <h5> Datos de la Dirección del Representante Legal</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Macrodistrito: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_MACRO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Zona: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_ZONA}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Vía: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_VIA}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Nombre de Vía: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NOMBRE_VIA}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Número: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NUM}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Edificio: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_EDIF}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Bloque: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_BLOQUE}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Piso: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_PISO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Número Depto.: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NUM_DEP}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Direccion Detallada: </label>
            <div class="col-sm-10">
                <!-- <input type="text" disabled="" placeholder="{{datos.INT_RL_NIT}}" class="form-control"> -->
                <textarea id="INT_RL_NIT" name="INT_RL_NIT" ng-model="datos.INT_RL_NIT" placeholder="{{datos.INT_RL_NIT}}"  class="form-control" ng-disabled="true"></textarea>
            </div>
        </div> 
        <div class="hr-line-dashed"></div>
       
        <div class="ibox-title_2">
            <h5> Datos de la Actividad</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">NIT: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NIT}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Razon Social: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_DENOMINACION}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Fecha de Inicio de la Actividad: </label>
            <div class="col-sm-10"><input type="text" disabled="" plac<eholder="{{datos.INT_INICIO_AE}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Superficie en mt2: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_SUPERFICIE}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Capacidad (Aprox.): </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_CAPACIDAD}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Horario de Inicio: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_HR_INICIO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Horario de Finalización: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_HR_FINAL}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Establecimiento: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_ESTADO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Tiene Actividad Económica Principal: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_ACTIVIDAD_PRINCIPAL}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Actividad Principal: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_PRINCIPAL}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div> 

        <div class="ibox-title_2">
            <h5> Ubicación de la Actividad</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Macrodistrito: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_MACRO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Zona: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_ZONA}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Vía: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_TIP_VIA}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Nombre de Vía: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_NOMBRE_VIA}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Número: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_NUMERO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Edificio: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_EDIFICIO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Bloque: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_BLOQUE}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Piso: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_PISO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Número Of/Local: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_NUMERO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Teléfono: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_TEL}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Número de Teléfono Celular: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_CEL}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Correo Electrónico: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_COR}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>

    <!-- /////////////////////////////////// REQUISITOS CHECK BOX /////////////////////////////////// -->
        
        <div class="ibox-title_2">
            <h5> Información de Requisitos para Obtener Licencia / Autorización</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Requisitos:</label>
            <div class="col-sm-10">
                <table class="table table-striped "><tbody>
                        <tr ng-repeat="role in datosRequisitosCheckBox">
                            <td><div class="ngSelectionCell">
                                <input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="role.estado" ng-model="role.estado" ng-disabled="true"/></div></td>
                            <td>{{role.resvalor}}</td>                                
                        </tr></tbody>
                </table>
            </div>
        </div> 
          
    <!-- /////////////////////////////////// REQUISITOS CHECK BOX /////////////////////////////////// -->


        <div class="ibox-title_2">
            <h5> Verificación de Inexistencia de Orden de Demolición</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Orden de Demolición: <small class="m-l-sm" style="color: red">*</small></label>
            <div class="col-sm-10">
                <select id="AE_ORD_DEM" name="AE_ORD_DEM" ng-model="datos.AE_ORD_DEM" class="form-control" required ng-disabled="true">
                    <option value="EXISTENTE">EXISTENTE</option>
                    <option value="NO EXISTENTE">NO EXISTENTE</option>
                </select>
                <span style="color:red" ng-show="formulario.AE_ORD_DEM.$invalid">
                    <span ng-show="formulario.AE_ORD_DEM.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Informe sobre Orden de Demolición:</label>
            <div class="col-sm-10">
                <textarea id="AE_INF_DEM" name="AE_INF_DEM" ng-model="datos.AE_INF_DEM" class="form-control" required ng-disabled=true></textarea>
                <span style="color:red" ng-show="formulario.AE_INF_DEM.$invalid">
                    <span ng-show="formulario.AE_INF_DEM.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>

        <div class="ibox-title_2">
            <h5> CONCLUSION Informe Requisitos Documentarios y Orden de Demolición</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Resultado: <small class="m-l-sm" style="color: red">*</small></label>
            <div class="col-sm-10">
                <select id="INT_APROBADO" name="INT_APROBADO" ng-model="datos.INT_APROBADO" class="form-control" required ng-change="getAccesoTramite(datos.INT_APROBADO);" ng-disabled=true>          
                    <option value="EN PROCESO">EN PROCESO</option>
                    <option value="APROBADO">APROBADO</option>
                    <option value="OBSERVADO">OBSERVADO</option>
                </select>
                <span style="color:red" ng-show="formulario.INT_APROBADO.$invalid">
                    <span ng-show="formulario.INT_APROBADO.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>

        <div class="ibox-title_2">
            <h5> Datos Inspección Programada</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Inspector Designado:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_SELECCIONA_INSPECTOR}}" class="form-control"></div>
        </div>            
        <div class="hr-line-dashed"></div>

        <div class="ibox-title_2">
            <h5> Resultado de la Inspección</h5>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> Fecha de Inspección: </label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_FEC_INSPECCION}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Hora de Inspección:</label>
            <div class="col-sm-10">
                <div class="clearfix">
                    <div class="input-group clockpicker pull-center" data-placement="left" data-align="top" data-autoclose="true" placeholder="HORA INSPECCIÓN">
                        <input  ng-model="datos.INT_HORA_INSPECCION" id="INT_HORA_INSPECCION" name="INT_HORA_INSPECCION" class="form-control" type="text" class="form-control" ng-disabled=true >
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Condiciones Técnicas Registradas:</label>
            <div class="col-sm-10">
                <table class="table table-striped ">                        
                    <tbody>
                        <tr ng-repeat="role1 in datosRequisitosCondiciones">
                            <td><div class="ngSelectionCell">
                                <input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="role1.estado" ng-model="role1.estado" ng-disabled="true" /></div></td>
                            <td>{{role1.resvalor}}</td>                                
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Observación</label>
            <div class="col-sm-10">
                 <textarea id="INT_OBSERVACIONES_PRIMERA_FECHA" name="INT_OBSERVACIONES_PRIMERA_FECHA" ng-model="datos.INT_OBSERVACIONES_PRIMERA_FECHA" class="form-control" placeholder="Observación" required ng-disabled=true></textarea>
                    <span style="color:red" ng-show="formulario.INT_OBSERVACIONES_PRIMERA_FECHA.$invalid">
                        <span ng-show="formulario.INT_OBSERVACIONES_PRIMERA_FECHA.$error.required">Es requerido.
                        </span>
                    </span>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Requiere Re inspección: </label>
            <div class="col-sm-10">
                <select id="INT_REINSPECCION" name="INT_REINSPECCION" class="form-control"  ng-model="datos.INT_REINSPECCION" ng-disabled=true>    
                    <option value="NO">NO</option>                         
                    <option value="SI">SI</option>                                                 
                </select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>  

        <div class="ibox-title_2">
            <h5> Datos de Re inspección</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> Fecha de Re Inspección:</label>
            <div class="col-sm-10">
                <p class="input-group"><input name="INT_SEGUNDA_FEC_INSPECCION" id="INT_SEGUNDA_FEC_INSPECCION" type="text" class="form-control" datepicker-popup="" ng-model="datos.INT_SEGUNDA_FEC_INSPECCION" is-open="startDateOpened" ng-required="true" close-text="Close" ng-disabled="true"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span></p>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Hora de Re inspección:</label>
            <div class="col-sm-10">
                <div class="clearfix">
                    <div class="input-group clockpicker pull-center" data-placement="left" data-align="top" data-autoclose="true" placeholder="HORA INSPECCIÓN">
                        <input  ng-model="datos.INT_HORA_REINSPECC" id="INT_HORA_REINSPECC" name="INT_HORA_REINSPECC" class="form-control" type="text" class="form-control" ng-disabled="true" >
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>                        
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Datos de Re inspección:</label>
            <div class="col-sm-10">
                <textarea id="INT_OBSERVACIONES_SEGUNDA_FECHA" name="VALOR" ng-model="datos.INT_OBSERVACIONES_SEGUNDA_FECHA" class="form-control" placeholder="" ng-disabled=true></textarea>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="ibox-title_2">
            <h5> Recomendación del Inspector</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>El Inspector Recomienda:</label>
            <div class="col-sm-10">
                <select id="INT_REC_INS" name="INT_REC_INS" class="form-control"  ng-model="datos.INT_REC_INS" ng-disabled="true">
                    <option value="PROCEDE">PROCEDE</option>
                    <option value="OBSERVADO">OBSERVADO</option>
                    <option value="EN PROCESO">EN PROCESO</option>
                </select>
                <span style="color:red" ng-show="formulario.INT_REC_INS.$invalid">
                    <span ng-show="formulario.INT_REC_INS.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="ibox-title_2">
            <h5> Validación Informe con Recomendaciones - Jefe UI</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Informe:</label>
            <div class="col-sm-10">
                <select id="INT_T_REC_UI" name="INT_T_REC_UI" class="form-control"  ng-model="datos.INT_T_REC_UI" ng-disabled="true">
                    <option value="VALIDADO">VALIDADO</option>
                    <option value="OBSERVADO">OBSERVADO</option>
                </select>
                <span style="color:red" ng-show="formulario.INT_T_REC_UI.$invalid">
                    <span ng-show="formulario.INT_T_REC_UI.$error.required">Es requerido.
                    </span>
                </span>                    
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Observaciones:</label>
            <div class="col-sm-10">
                <textarea id="INT_DESCRIP_UI" name="INT_DESCRIP_UI" ng-model="datos.INT_DESCRIP_UI" class="form-control" placeholder="" required ng-disabled="true" ></textarea>
                <span style="color:red" ng-show="formulario.INT_DESCRIP_UI.$invalid">
                    <span ng-show="formulario.INT_DESCRIP_UI.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class="hr-line-dashed"></div> 

        <div class="ibox-title_2">
            <h5> Validación Técnico UDE</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>El Técnico UDE emite recomendación:</label>
            <div class="col-sm-10">
                <select id="INT_T_REC_UDE" name="INT_T_REC_UDE" class="form-control"  ng-model="datos.INT_T_REC_UDE"  ng-change="getAccesoTecnico(datos.INT_T_REC_UDE);" ng-disabled="true" >
                    <option value="APROBADO">APROBADO</option>
                    <option value="OBSERVADO">OBSERVADO</option>
                    <option value="ABANDONO">ABANDONO</option> 
                </select>
                <span style="color:red" ng-show="formulario.INT_T_REC_UDE.$invalid">
                    <span ng-show="formulario.INT_T_REC_UDE.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="ibox-title_2">
            <h5>Datos para  Emisión de Licencia/Autorización</h5>
        </div>
            <div ng-show="datos.INT_T_REC_UDE=='APROBADO'">
                <div class="form-group"><label class="col-sm-2 control-label"><br>Detalle de Tareas y Documentos Generados:</label>
                    <div class="col-sm-10">
                        <div class="i-checks"><label class="" />
                            <div class="icheckbox_square-green">
                                <input type="checkbox" ng-model="datos.chkAltaContribuyente" ng-true-value="'SI'" ng-false-value="'NO'" ng-disabled="true"/> ALTA DEL CONTRIBUYENTE                             
                            </div>
                        </div>
                        <div class="i-checks"><label class=""/>
                            <div class="icheckbox_square-green">
                                <input type="checkbox" ng-model="datos.chkAltaEconomica" ng-true-value="'SI'" ng-false-value="'NO'" ng-disabled="true"/> ALTA DE LA ACTIVIDAD ECONÓMICA
                            </div>
                        </div>
                        <div class="i-checks"><label class="" />
                            <div class="icheckbox_square-green">
                                <input type="checkbox" ng-model="datos.emisionLicenciaFuncionamiento" ng-true-value="'SI'" ng-false-value="'NO'" ng-disabled="true"/> EMISIÓN DE LICIENCIA DE FUNCIONAMIENTO                                
                            </div>
                        </div>
                    </div>
                </div>    

                <div class="hr-line-dashed"></div>
                <div class="form-group"><label class="col-sm-2 control-label">Fecha de emisión del documento:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_FECHA_EMISION_LICENCIA}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Observaciones:</label>
                <div class="col-sm-10">
                    <textarea id="INT_DESCRIP_UDE" name="INT_DESCRIP_UDE" ng-model="datos.INT_DESCRIP_UDE" class="form-control" placeholder="" required ng-disabled="true"></textarea>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            
        <div class="ibox-title_2">
            <h5>Firma Emisión de Licencia/Autorización</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Documento:</label>
            <div class="col-sm-10">
                <select id="INT_VALIDA_FIRMA" name="INT_VALIDA_FIRMA" class="form-control"  ng-model="datos.INT_VALIDA_FIRMA">
                    <option value="VALIDADO">VALIDADO</option>
                    <option value="OBSERVADO">OBSERVADO</option>
                </select>
                <span style="color:red" ng-show="formulario.INT_VALIDA_FIRMA.$invalid">
                    <span ng-show="formulario.INT_VALIDA_FIRMA.$error.required">Es requerido.
                    </span>
                </span>            
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div ng-show="datos.INT_VALIDA_FIRMA=='VALIDADO'">
            <div class="form-group"><label class="col-sm-2 control-label">Firma certificado en línea:</label>
                <div class="col-sm-10"><input type="checkbox" ng-model="datos.INT_FIRMA_" ng-true-value="'SI'" ng-false-value="'NO'" /></div>
            </div>
            <div class="hr-line-dashed"></div>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Conclusiones:</label>
            <div class="col-sm-10">
                <textarea id="INT_PROVEIDO" name="INT_PROVEIDO" ng-model="datos.INT_PROVEIDO" class="form-control" required></textarea>
                <span style="color:red" ng-show="formulario.INT_PROVEIDO.$invalid">
                    <span ng-show="formulario.INT_PROVEIDO.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> Total Nro Fojas:</label>
            <div class="col-sm-10"><input ng-model="datos.CT_FOJAS" id="CT_FOJAS" name="CT_FOJAS" class="form-control" type="text" placeholder="ingrese la cedula de identidad" ng-disabled="false" ></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Descripción Fojas:</label>
            <div class="col-sm-10">
                <textarea id="CT_DESCRP" name="CT_DESCRP" ng-model="datos.CT_DESCRP" class="form-control" required></textarea>
                <span style="color:red" ng-show="formulario.CT_DESCRP.$invalid">
                    <span ng-show="formulario.CT_DESCRP.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Historial:</label>
            <div class="col-sm-10">
                <textarea id="INT_HISTORIAL" name="INT_HISTORIAL" ng-model="datos.INT_HISTORIAL" class="form-control" required></textarea>
                <span style="color:red" ng-show="formulario.INT_HISTORIAL.$invalid">
                    <span ng-show="formulario.INT_HISTORIAL.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="col-sm-12" align="right" ng-show="false">
            <div class="form-group" >
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.AE_SW_TIPO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right" ng-show="false">
            <div class="form-group" >
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.AE_NRO_CASO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right" ng-show="false">
            <div class="form-group" >
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.CI_BIGDATA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right" ng-show="false">
            <div class="form-group" >
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_ACTIVIDAD}}</label>
                </div>
            </div>
        </div>

        <!-- botones -->
        <a class="btn btn-primary" ng-disabled="false" ng-click="volver()">
            <i class="glyphicon fa fa-times"></i>
                 Cancelar
        </a>
        <a class="btn btn-primary" ng-click="cargarDatos(datos);guardarData(datos);" data-dismiss="modal" ng-disabled="formulario.$invalid">
            <i class="glyphicon fa fa-save"></i>
                 Guardar / Continuar
        </a>
            <!-- botones -->
    </div>
    </form>
</div>