<script>
function cocheController($scope,  $rootScope, DreamFactory, CONFIG, sessionService) {
    var fecha= new Date();
    $scope.fechactual=fecha.getFullYear() + "-" + fecha.getMonth() + "-" + fecha.getDate() + " " + fecha.getHours() + ":" + fecha.getMinutes() + ":" + fecha.getSeconds();
    var misDatos = {
        "procedure_name":"usuarioslst",
        "body":{
        }
    };

    DreamFactory.api[CONFIG.SERVICE].callStoredProcWithParams(misDatos).success(function (results){
        if(results.length > 0){
            $scope.usuarios = results[0];
        }else{                        
        }
    }).error(function(results){
    });
    $scope.coche = {
        marca: "Audi",
        modelo: "A3",
        nombreCompleto: function() {
            var x;
            x = $scope.coche;
            return x.marca + " " + x.modelo;
        }
    };
    
    $scope.tituloForm1 = "TRÁMITE: EMISIÓN DE LICENCIA / AUTORIZACIÓN PARA EL FUNCIONAMIENTO DE SERVICIO DE INTERNET";
    $scope.titulo2Form1 = "VERIFICACIÓN DE REQUISITOS Y ORDEN DE DEMOLICIÓN - PERSONA NATURAL";
    
    $scope.checkAll = function() {
        $scope.datos.AE_REQ = $scope.AE_REQ.map(function(item) { return item.resid; });
      };

    $scope.$on('api:ready',function(){
        
        $scope.checkboxesi = { 'checked': true, items: {} };
        $scope.datos.AE_REQ=$scope.checkboxesi ;
        //obtener valor de data para poder usarla
        dataT = sessionService.get('DATOSTRAMITE');
        var json = JSON.parse(dataT);
        var json2 = JSON.parse(json.casodata);
        sessionService.destroy('DATOSTRAMITE');
    });
    $scope.checkboxesi = { 'checked': true, items: {} };

    var datoObjectFinal = new Array(); 
    var ddatoObject = new Object(); 
    datoObjectFinal = []; 
    datoObject = []; 
    $scope.getListache = function(dato,lista){     

        console.log("listaaaaa",lista);
        //if (dato=="EN PROCESO") {
            if (lista==undefined) {
                var requisitos = $scope.getSPCombos('sp_lst_datos_parametricas_renovacion','{"params": [{"name":"valoparametro1","value":"1"},{"name":"valoparametro2","value":"INTB_COM"}]}');
                requisitos.then(function(respuesta) {
                    for(j=0; j<respuesta.length;j++){
                        //console.log(respuesta[j].resid);
                        datoObject = new Object(); 
                        datoObject.resid=respuesta[j].resid; 
                        datoObject.resvalor=respuesta[j].resvalor; 
                        datoObject.estado=false;
                        datoObjectFinal[j] = datoObject;    
                    }
                    $scope.datos.AE_REQ=datoObjectFinal;
                    $rootScope.datosRequisitosCheckBox = datoObjectFinal;
                }, function(reason) {
                    alert('Failed: ' + reason);
                });
            }else{
                console.log("datoss entro ",lista);
                $rootScope.datosRequisitosCheckBox = lista;
            }            
        // }else{
        //     var requisitos = $scope.getSPCombos('sp_lst_datos_parametricas_renovacion','{"params": [{"name":"valoparametro1","value":"1"},{"name":"valoparametro2","value":"INTB_COM"}]}');
        //     requisitos.then(function(respuesta) {
        //         for(j=0; j<respuesta.length;j++){
        //             //console.log(respuesta[j].resid);
        //             datoObject = new Object(); 
        //             datoObject.resid=respuesta[j].resid; 
        //             datoObject.resvalor=respuesta[j].resvalor; 
        //             datoObject.estado=false;
        //             datoObjectFinal[j] = datoObject;    
        //         }
        //         $scope.datos.AE_REQ=datoObjectFinal;
        //         $rootScope.datosRequisitosCheckBox = datoObjectFinal;
        //     }, function(reason) {
        //     });
        // }
    }
     $scope.checkAll = function() {
        console.log("dato:",$scope.datos.AE_REQ);
    };
    $scope.imChanged = function(){
        $scope.valor  = $scope.datos.AE_REQ.join(',');
    }
}
</script>

<div class="animated fadeInRight">
<!-- begin form -->
    <form class="form-horizontal" name="formulario" novalidate>
    <div class="wrap" ng-controller="cocheController"  ng-init="getListache(datos.INT_APROBADO,datos.AE_REQ)">
        <!--  -->
        <div class="ibox-title_2">
            <h5>Datos Generales de la Actividad</h5>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Fecha de Solicitud:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_FEC_SOLICITUD}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="red">Actividad: <small class="m-l-sm" style="color: red">*</small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_ACTIVIDAD_DESCRIPCION}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group">
            <label class="col-sm-2 control-label">Tipo de Contribuyente:<small class="m-l-sm" style="color: red">*</small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_TIPO_CONTRIBUYENTE}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" style="red"> PMC Nro.: <small class="m-l-sm" style="color: red">*</small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_PMC}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group">
            <label class="col-sm-2 control-label" style="red"> ID de Actividad: <small class="m-l-sm" style="color: red">*</small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_ID_ACTIVIDAD_ECONOMICA}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 

        <div class="ibox-title_2">
            <h5>Datos Personales del Solicitante</h5>
        </div>
        <!-- <div class="form-group"><label class="col-sm-2 control-label">Solicitante:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_SOLICITANTE}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> -->

        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Documento:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_TIPO_DOC_IDENTIDAD}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Numero de Documento:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NUM_DOC}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Expedido en:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_EXP}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Correo Electrónico:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_CORREO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        
        <div class="form-group"><label class="col-sm-2 control-label">Número de Teléfono Celular:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_TEL_CELULAR}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Primer Nombre:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_PRIMER_NOMBRE}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Segundo Nombre:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_SEGUNDO_NOMBRE}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Apellido Paterno:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_PATERNO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Apellido Materno:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_MATERNO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        
        <div class="form-group"><label class="col-sm-2 control-label">Apellido Casada:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_CASADA}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Nacionalidad:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NACIONALIDAD}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        
        <div class="form-group"><label class="col-sm-2 control-label">Fecha de Nacimiento:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_FEC_NACIMIENTO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="ibox-title_2">
            <h5> Datos de la Dirección del Solicitante</h5>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Macrodistrito:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_MACRO_DESC}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>       
 
        <div class="form-group"><label class="col-sm-2 control-label">Zona:<small class="m-l-sm" style="color: red"></small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_ZONA_DESC}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Vía:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_TIP_VIA}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Nombre de Vía:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NOMBRE_VIA}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 

        <div class="form-group"><label class="col-sm-2 control-label">Número:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NUM}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 

        <div class="form-group"><label class="col-sm-2 control-label">Edificio:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_EDIF}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="form-group"><label class="col-sm-2 control-label">Bloque:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_BLOQUE}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 

        <div class="form-group"><label class="col-sm-2 control-label">Piso:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_PISO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 

        <div class="form-group"><label class="col-sm-2 control-label">Departamento Nro.:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NUM_DEP}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 

        <div class="form-group"><label class="col-sm-2 control-label">Direccion Detallada: <small class="m-l-sm" style="color: red">*</small></label>
            <div class="col-sm-10">
                <textarea id="INT_DIR_DET" name="INT_DIR_DET" ng-model="datos.INT_DIR_DET" class="form-control" required required onkeyUp="return conMayusculas(this);"></textarea>
                <span style="color:red" ng-show="formulario.INT_DIR_DET.$invalid">
                    <span ng-show="formulario.INT_DIR_DET.$error.required">Es requerido.</span>
                </span>
            </div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="ibox-title_2">
            <h5>Datos de la Actividad</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">NIT:<small class="m-l-sm" style="color: red"></small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_NIT}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Razon Social:<small class="m-l-sm" style="color: red"></small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_DENOMINACION}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Fecha de Inicio de la Actividad:<small class="m-l-sm" style="color: red"></small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_INICIO_AE}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Superficie en mt2:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_SUPERFICIE}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Capacidad (Aprox.):</label>
            <div class="col-sm-10">
                <input  ng-model="datos.INT_AC_CAPACIDAD" id="INT_AC_CAPACIDAD" name="INT_AC_CAPACIDAD" class="form-control" type="text" placeholder="Superficie" ng-disabled="true" >
            </div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Horario de Inicio:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_HR_INICIO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Horario de Finalización:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_HR_FINAL}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Establecimiento:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_ESTADO}}" class="form-control"></div>
        </div>
       <!--  <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Tiene Actividad Económica Principal:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_ACTIVIDAD_PRINCIPAL}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Actividad Principal:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_PRINCIPAL}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> -->

        <div class="ibox-title_2">
            <h5>Ubicación de la Actividad</h5>
        </div>
    
        <div class="form-group"><label class="col-sm-2 control-label">Macrodistrito:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_MACRO}}" class="form-control"></div>
        </div> 
        <div class="hr-line-dashed"></div>       
        <div class="form-group"><label class="col-sm-2 control-label">Zona:<small class="m-l-sm" style="color: red"></small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_ZONA}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Vía:<small class="m-l-sm" style="color: red"></small></label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_TIP_VIA}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Nombre de Vía:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_NOMBRE_VIA}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Número:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_NUMERO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Edificio:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_EDIFICIO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Bloque:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_BLOQUE}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Piso:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_PISO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Departamento Nro.:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_NUMERO}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group"><label class="col-sm-2 control-label">Teléfono:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_TEL}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Número de Teléfono Celular:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_CEL}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group"><label class="col-sm-2 control-label">Correo Electrónico:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.INT_AC_COR}}" class="form-control"></div>
        </div>
        <div class="hr-line-dashed"></div>

        <div class="ibox-title_2">
            <h5>Información de Requisitos para Obtener Licencia / Autorización</h5>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Requisitos:</label>
            <div class="col-sm-10">
                <table class="table table-striped "><tbody>
                    <tr ng-repeat="role in datosRequisitosCheckBox">
                        <td><div class="ngSelectionCell">
                            <input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="role.estado" ng-model="role.estado"/></div></td>
                        <td>{{role.resvalor}}</td>                                
                    </tr></tbody>
                </table>
            </div>
        </div> 
        <div class="hr-line-dashed"></div> 

        <div class="ibox-title_2">
                <h5>Verificación de Antecedentes</h5>
            </div>
        
            <div class="form-group"><label class="col-sm-2 control-label">Orden de Demolición: <small class="m-l-sm" style="color: red">*</small></label>
                <div class="col-sm-10">
                    <select id="AE_ORD_DEM" name="AE_ORD_DEM" ng-model="datos.AE_ORD_DEM" class="form-control" required>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                    <span style="color:red" ng-show="formulario.AE_ORD_DEM.$invalid">
                        <span ng-show="formulario.AE_ORD_DEM.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div> 
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Proceso Técnico Adminstrativo (PTA): <small class="m-l-sm" style="color: red">*</small></label>
                <div class="col-sm-10">
                    <select id="AE_PTA" name="AE_PTA" ng-model="datos.AE_PTA" class="form-control" required>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                    <span style="color:red" ng-show="formulario.AE_PTA.$invalid">
                        <span ng-show="formulario.AE_PTA.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div> 
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Deudas: <small class="m-l-sm" style="color: red">*</small></label>
                <div class="col-sm-10">
                    <select id="AE_DEU_UDE" name="AE_DEU_UDE" ng-model="datos.AE_DEU_UDE" class="form-control" required>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                    </select>
                    <span style="color:red" ng-show="formulario.AE_DEU_UDE.$invalid">
                        <span ng-show="formulario.AE_DEU_UDE.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div> 
            <div class="hr-line-dashed"></div>

            <div ng-show="datos.AE_DEU_UDE=='SI' || datos.AE_PTA=='SI' || datos.AE_ORD_DEM=='SI' ">
                <div class="form-group"><label class="col-sm-2 control-label">Informe sobre Orden de Demolición/PTA o Deudas:</label>
                    <div class="col-sm-10">
                        <textarea id="AE_INF_DEM" name="AE_INF_DEM" ng-model="datos.AE_INF_DEM" class="form-control" onkeyUp="return conMayusculas(this);"></textarea>
                       <!--  <span style="color:red" ng-show="formulario.AE_INF_DEM.$invalid">
                            <span ng-show="formulario.AE_INF_DEM.$error.required">Es requerido.
                            </span>
                        </span> -->
                    </div>
                </div>
                <div class="hr-line-dashed"></div>      
                <!--  -->
            </div>

        <div class="hr-line-dashed"></div>  
        
       <!--  <div class="ibox-title_2">
            <h5>CONCLUSIÓN: <small class="m-l-sm">Informe Requisitos Documentarios </small></h5>
        </div> -->

        <div ng-show="datos.AE_DEU_UDE=='SI' || datos.AE_PTA=='SI' || datos.AE_ORD_DEM=='SI' ">
                <div class="form-group"><label class="col-sm-2 control-label">Resultado: <small class="m-l-sm" style="color: red">*</small></label>
                    <div class="col-sm-10">
                        <select id="INT_APROBADO" name="INT_APROBADO" ng-model="datos.INT_APROBADO" class="form-control" ng-required="datos.INT_APROBADO!='OBSERVADO'">
                            <option value="SELECCIONE">SELECCIONE</option>                            
                            <option value="OBSERVADO">OBSERVADO</option>
                        </select>
                        <span style="color:red" ng-show="formulario.INT_APROBADO.$invalid">
                            <span ng-show="formulario.INT_APROBADO.$error.required">Es requerido.
                            </span>
                        </span>
                    </div>
                </div> 
            </div>

            <div ng-show="datos.AE_DEU_UDE=='NO' && datos.AE_PTA=='NO' && datos.AE_ORD_DEM=='NO' ">
                <div class="form-group"><label class="col-sm-2 control-label">Resultado: <small class="m-l-sm" style="color: red">*</small></label>
                    <div class="col-sm-10">
                        <select id="INT_APROBADO" name="INT_APROBADO" ng-model="datos.INT_APROBADO" class="form-control" ng-required="datos.INT_APROBADO!='APROBADO'">
                            <option value="SELECCIONE">SELECCIONE</option>                            
                             <option value="APROBADO">APROBADO</option>
                        </select>
                        <span style="color:red" ng-show="formulario.INT_APROBADO.$invalid">
                            <span ng-show="formulario.INT_APROBADO.$error.required">Es requerido.
                            </span>
                        </span>
                    </div>
                </div> 
            </div>
        
    
        <div ng-show="datos.INT_APROBADO=='OBSERVADO'">
                <div class="ibox-title_2">
                    <h5>Cierre de Trámite - Generación de Acta de Abandono</h5>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font>Generar Acta de Abandono:</label>
                    <div class="col-sm-10">
                        <select id="INT_GENERAR_ACTA" name="INT_GENERAR_ACTA" ng-model="datos.INT_GENERAR_ACTA" class="form-control" >
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Observaciones:</label>
                    <div class="col-sm-10">
                        <textarea id="INT_ACTA" name="INT_ACTA" ng-model="datos.INT_ACTA" class="form-control" onkeyUp="return conMayusculas(this);"></textarea>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
            <!--  -->           
            <div class="form-group"><label class="col-sm-2 control-label">Conclusiones:</label>
                <div class="col-sm-10">
                    <textarea id="INT_PROVEIDO" name="INT_PROVEIDO" ng-model="datos.INT_PROVEIDO" class="form-control" required onkeyUp="return conMayusculas(this);"></textarea>
                    <span style="color:red" ng-show="formulario.INT_PROVEIDO.$invalid">
                        <span ng-show="formulario.INT_PROVEIDO.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div> 
            <div class="hr-line-dashed"></div>

            <!--<div class="form-group"><label class="col-sm-2 control-label">Historial:</label>
                <div class="col-sm-10">
                    <textarea id="INT_HISTORIAL" name="INT_HISTORIAL" ng-model="datos.INT_HISTORIAL" class="form-control" required onkeyUp="return conMayusculas(this);"></textarea>
                    <span style="color:red" ng-show="formulario.INT_HISTORIAL.$invalid">
                        <span ng-show="formulario.INT_HISTORIAL.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>-->
            <div class="hr-line-dashed"></div>
        <!-- botones -->
        <button type="button" class="btn btn-primary" ng-disabled="false" ng-click="volver()"> <i class="glyphicon fa fa-times"></i> Cancelar </button> 

            <button type="button" class="btn btn-primary" ng-click="cargarDatos(datos);guardarData(datos)" ng-disabled="formulario.$invalid"> <i class="glyphicon fa fa-save"></i> Guardar / Continuar</button>
            <!-- botones -->
    </div>
    </form>
    <!-- end form -->
</div>