<script>
    function frm_DAG_UBM_Asig_30_Controller($scope,  $rootScope, DreamFactory, CONFIG, sessionService, sweet) {
        var f = new Date();
        var dia=parseInt(f.getDate());
        if(dia<10) {
            dia='0'+f.getDate();
        } else {
            dia=f.getDate();
        }
        if(parseInt(f.getMonth() +1)<10){
            mes='0'+(f.getMonth() +1);
        }else{
            mes=(f.getMonth() +1);
        }
        fecha = f.getFullYear() + '-' + mes + '-' + dia;
        $scope.datos.gestion=f.getFullYear();
        

        
        $scope.ListFuncionarios = "";
        $scope.Cargarfuncionarios = function () {
            var datosFuncionarios = {
                "procedure_name":"dag.sp_dag_ubm_funcionarioreponsable",
            };
            DreamFactory.api[CONFIG.SERVICE].callStoredProcWithParams(datosFuncionarios).success(function (response){
                var tmpListFuncionarios = JSON.stringify(response);
                $scope.ListFuncionarios = JSON.parse(tmpListFuncionarios);
            })
            .error(function(data){
                sweet.show('', 'Error al cargar la informacion de los funcionarios: ', 'error');
            });
        };
        $scope.datos.TECNICO_ASIGNADO = "";
        $scope.TecnicoAsignadof = function (id_item) {
            var resUE = {
                table_name:"dag.dag_ubm_asignacion_tecnico",
                filter:"dag_uo_s="+parseInt($scope.S_SOLICITANTE)+" and dag_uo_da="+parseInt($scope.DA_SOLICITANTE)+" and dag_uo_ue="+parseInt($scope.UE_SOLICITANTE)+" and dag_uo_uo="+parseInt($scope.UO_SOLICITANTE)
            };
            var obj=DreamFactory.api[CONFIG.SERVICE].getRecords(resUE);
            obj.success(function(response){
                var tmp = response.record;
                //var size = Object.keys(tmp).length;
                $scope.datos.TECNICO_ASIGNADO = tmp[0].asig_tec_id;
            })
            .error(function(response){
                sweet.show('', 'Error: ', 'error');
            })
        };

        $scope.TecnicosUBM = function () {
            var datosFuncionarios = {
                "procedure_name":"dag.sp_dag_ubm_tecnicoasignado",
            };
            DreamFactory.api[CONFIG.SERVICE].callStoredProcWithParams(datosFuncionarios).success(function (response){
                var tmpListTecnicoAsig = JSON.stringify(response);
                $scope.ListTecnicoAsig = JSON.parse(tmpListTecnicoAsig);
            })
            .error(function(data){
                sweet.show('', 'Error al cargar la informacion de los técnicos: ', 'error');
            });
        };

        $scope.cerear = function () {
            $scope.datos.obtAsignaciones[$scope.selectedRow].dag_ubm_asig_funcionario_responsable = $scope.tmprowfunc;
        }

        //Cuando eliges un usuario lo reemplaza en el campo de texto
        $scope.cambiafuncionario = function(funcionario,ap_pat,ap_mat,nomb){
            $scope.funcionario = funcionario + ' ' + ap_pat + ' ' + ap_mat + ', ' + nomb;
            var table = document.getElementById('dataTable1');
            $scope.datos.obtAsignaciones[$scope.selectedRow].dag_ubm_asig_funcionario_responsable = funcionario + ' ' + ap_pat + ' ' + ap_mat + ', ' + nomb;
            $scope.datos.obtAsignaciones[$scope.selectedRow].dag_ubm_asig_cod_funcionario_responsable = funcionario;
        }

        $scope.Cargar_s_da_ue_uo_func = function (xx) {
            //funcion para determinar unidad organizacional del funcionario solicitante
            var resRoles = {
                "procedure_name":"dag.sp_dag_ubm_s_da_ue_uo_funcionario",
                "body":{
                "params": [                                
                    {
                        "name": "funcionario",
                        "value": xx
                    }
                ]
            }
            };
            obj=DreamFactory.api[CONFIG.SERVICE].callStoredProcWithParams(resRoles);
            obj.success(function (response) {
                $scope.datos.s_da_ue_uo_func = response;
                if (Object.keys($scope.datos.s_da_ue_uo_func).length == 1) {
                    $scope.S_SOLICITANTE = $scope.datos.s_da_ue_uo_func[0].dag_s_s;
                    $scope.S_SOLICITANTE_D = $scope.datos.s_da_ue_uo_func[0].dag_s_descripcion;
                    $scope.DA_SOLICITANTE = $scope.datos.s_da_ue_uo_func[0].dag_da_da;
                    $scope.DA_SOLICITANTE_D = $scope.datos.s_da_ue_uo_func[0].dag_da_descripcion;
                    $scope.UE_SOLICITANTE = $scope.datos.s_da_ue_uo_func[0].dag_ue_ue;
                    $scope.UE_SOLICITANTE_D = $scope.datos.s_da_ue_uo_func[0].dag_ue_descripcion;
                    $scope.UO_SOLICITANTE = $scope.datos.s_da_ue_uo_func[0].dag_uo_uo;
                    $scope.UO_SOLICITANTE_D = $scope.datos.s_da_ue_uo_func[0].dag_uo_descripcion;
                    $scope.TecnicoAsignadof();
                }
                else
                {
                    sweet.show('', 'Usted no tiene unidad solicitante actualizada, contactese con el administrador del sistema', 'error');
                }

            })
            obj.error(function(error) {
                $.unblockUI();
                sweet.show('', 'Error al recuperar la informacion, intentelo nuevamente', 'warning');
            });
        };

        $scope.selectedRow = null;
        $scope.setClickedRow = function(index){
            $scope.selectedRow = index;
            $scope.funcionario = "";
            $scope.tmprowfunc = $scope.datos.obtAsignaciones[$scope.selectedRow].dag_ubm_asig_funcionario_responsable;
        }
        $scope.cancelaseleccion = function () {
            $scope.datos.obtAsignaciones[$scope.selectedRow].dag_ubm_asig_funcionario_responsable = $scope.tmprowfunc;
            $scope.noasignartotal();
        }
        $scope.noasignar = function () {
            $scope.datos.obtAsignaciones[$scope.selectedRow].dag_ubm_asig_funcionario_responsable = "-----";
            $scope.noasignartotal();
        }
        $scope.noasignartotal = function () {
            if ($scope.datos.INT_APLICA=='1') {
                var sw = false;
                for(var j=0; j<$scope.datos.totalactivosasignados; j++){
                    if ($scope.datos.obtAsignaciones[j].dag_ubm_asig_funcionario_responsable != '-----') {
                        sw = true;
                    }
                }
                if (sw) {
                    $scope.datos.DAG_CAT_UBM_JUSTIFI = "-----";
                }
                else
                {
                    sweet.show('', 'No selecciono ningun activo para asignar a otro funcionario', 'error');
                    $scope.datos.DAG_CAT_UBM_JUSTIFI = "";
                }
            }
            else {
                $scope.datos.DAG_CAT_UBM_JUSTIFI = "";
            }
        }
        $scope.guardarcontinuar = function () {
            var sw = false;
            if ($scope.datos.totalactivosasignados > 0){
                for(var j=0; j<$scope.datos.totalactivosasignados; j++){
                    if ($scope.datos.obtAsignaciones[j].dag_ubm_asig_funcionario_responsable != '-----') {
                        sw = true;
                    }
                }
            }
            else
            {
                sweet.show('', 'No tiene activos asignados a su cargo, no puede solicitar una asignacion', 'error');
            }
            if (sw) {
                var size = Object.keys($scope.datos.obtAsignaciones).length;
                var xi = 0;
                var nodo_asigna = '[';
                for(var j=0; j<size; j++){
                    if ($scope.datos.obtAsignaciones[j].dag_ubm_asig_funcionario_responsable != "-----"){
                        if (xi>0) {nodo_asigna=nodo_asigna+','}
                        nodo_asigna = nodo_asigna+'{"codigoaf":"'+$scope.datos.obtAsignaciones[j].dag_ubm_activo_codigoaf
                                      +'","ciresp":"'+$scope.datos.obtAsignaciones[j].dag_ubm_asig_cod_funcionario_responsable
                                      +'","sector":'+$scope.Sec_Sel+',"da":'+$scope.DA_Sel+',"ue":'+$scope.UE_Sel
                                      +',"uo":'+$scope.UO_Sel+',"gestion":'+$scope.datos.gestion+',"obsform":"","tecasig":"'+$scope.datos.TECNICO_ASIGNADO+'","coldresp":"'+$scope.datos.SOL_CI_FUNC+'"}';
                        xi++;
                    }
                }
                nodo_asigna=nodo_asigna+']'
                console.log(nodo_asigna);
                var datosAsignacion = {
                    "procedure_name":"dag.sp_dag_ubm_generaasignacion",
                    "body":{
                        "params": [
                            {
                                "name": "parametrosasig",
                                "value": nodo_asigna

                            }
                        ]
                    }
                };
                DreamFactory.api[CONFIG.SERVICE].callStoredProcWithParams(datosAsignacion).success(function (response){
                    $scope.datos.FormulariosGenerados = response;
                    console.log($scope.datos.FormulariosGenerados);
                    $scope.cargarDatos($scope.datos);
                    $scope.guardarData($scope.datos);
                })
                .error(function(data){
                    sweet.show('', 'Error al guardar la informacion: ', 'error');
                });
            }
            else
            {
                sweet.show('', 'No selecciono ningun activo para asignar a otro funcionario', 'error');
            }
        }
        $scope.getSector = function(){
            var resSector = {
                table_name:"dag.dag_dag_sectores",
                order:"dag_s_s ASC",
                filter:"dag_s_gestion=2016 and dag_s_estado='A'"
            };
            var obj=DreamFactory.api[CONFIG.SERVICE].getRecords(resSector);
            obj.success(function(response){
                $scope.datosSector = response.record;
                $scope.Sec_Sel="0";
            })
            .error(function(response){
                sweet.show('', 'Error: ', 'error');
            })
        }
        $scope.getDA = function(){
            var resDA = {
                table_name:"dag.dag_dag_direccion_administrativa",
                order:"dag_da_s ASC, dag_da_da ASC",
                filter:"dag_da_gestion=2016 and dag_da_estado LIKE 'A'"
            };
            var obj=DreamFactory.api[CONFIG.SERVICE].getRecords(resDA);
            obj.success(function(response){
                $scope.datosDirAdm = response.record;
                $scope.DA_Sel="0";
            })
            .error(function(response){
                sweet.show('', 'Error: ', 'error');
            })
        }
        $scope.getUE = function(){
            var resUE = {
                table_name:"dag.dag_dag_unidad_ejecutora",
                order:"dag_ue_s ASC, dag_ue_da ASC, dag_ue_ue ASC",
                filter:"dag_ue_gestion=2016 and dag_ue_estado LIKE 'A'"
            };
            var obj=DreamFactory.api[CONFIG.SERVICE].getRecords(resUE);
            obj.success(function(response){
                $scope.datosUniEje = response.record;
                $scope.UE_Sel="0";
            })
            .error(function(response){
                sweet.show('', 'Error: ', 'error');
            })
        }
        $scope.getUO = function(){
            var resUO= {
                table_name:"dag.dag_dag_unidad_organizacional",
                order:"dag_uo_s ASC, dag_uo_da ASC, dag_uo_ue ASC, dag_uo_uo ASC",
                filter:"dag_uo_gestion=2016 and dag_uo_estado LIKE 'A'"
            };
            var obj=DreamFactory.api[CONFIG.SERVICE].getRecords(resUO);
            obj.success(function(response){
                $scope.datosUniOrg = response.record;
                $scope.UO_Sel="0";
            })
            .error(function(response){
                sweet.show('', 'Error: ', 'error');
            })
        }
        $scope.$on('api:ready',function(){
            $.blockUI();
            $scope.getSector();
            $scope.getDA();
            $scope.getUE();
            $scope.getUO();
            $scope.Sec_Sel="0";
            $scope.DA_Sel="0";
            $scope.UE_Sel="0";
            $scope.UO_Sel="0";
            $scope.vertabla=0;
            $scope.datos.UBM_ASIG_SOLICITANTE;
            $scope.TecnicosUBM();
            $scope.Cargarfuncionarios();
            $scope.Cargar_s_da_ue_uo_func($scope.datos.SOL_CI_FUNC);
            $.unblockUI();
        });
        $scope.inicioAsignacion30 = function () {
            if(DreamFactory.api[CONFIG.SERVICE]){
                $.blockUI();
                $scope.getSector();
                $scope.getDA();
                $scope.getUE();
                $scope.getUO();
                $scope.Sec_Sel="0";
                $scope.DA_Sel="0";
                $scope.UE_Sel="0";
                $scope.UO_Sel="0";
                $scope.vertabla=0;
                $scope.datos.UBM_ASIG_SOLICITANTE;
                $scope.TecnicosUBM();
                $scope.Cargarfuncionarios();
                $scope.Cargar_s_da_ue_uo_func($scope.datos.SOL_CI_FUNC);
                $.unblockUI();
            }
        };
    }
</script>
<div>
<!-- begin form -->
    <form class="form-horizontal" name="formulario" novalidate>
        <div class="wrap" ng-controller="frm_DAG_UBM_Asig_30_Controller" data-ng-init="inicioAsignacion30(datos)">
            <div class="ibox-title_2">
                <h5>VERIFICACION FISICA Y APROBACION:</h5>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Funcionario Solicitante</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">FECHA DE SOLICITUD: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.UBM_ASIG_FEC_SOLICITUD}}" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">APELLIDO PATERNO: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.SOL_APA_FUNC}}" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">APELLIDO MATERNO: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.SOL_AMA_FUNC}}" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">NOMBRES: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.SOL_NOM_FUNC}}" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">SECTOR: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-2"><input type="text" disabled="" placeholder="{{S_SOLICITANTE}}" class="form-control"></div>
                <div class="col-sm-8"><input type="text" disabled="" placeholder="{{S_SOLICITANTE_D}}" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">DIRECCION ADMINISTRATIVA: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-2"><input type="text" disabled="" placeholder="{{DA_SOLICITANTE}}" class="form-control"></div>
                <div class="col-sm-8"><input type="text" disabled="" placeholder="{{DA_SOLICITANTE_D}}" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">UNIDAD EJECUTORA: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-2"><input type="text" disabled="" placeholder="{{UE_SOLICITANTE}}" class="form-control"></div>
                <div class="col-sm-8"><input type="text" disabled="" placeholder="{{UE_SOLICITANTE_D}}" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">UNIDAD ORGANIZACIONAL: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-2"><input type="text" disabled="" placeholder="{{UO_SOLICITANTE}}" class="form-control"></div>
                <div class="col-sm-8"><input type="text" disabled="" placeholder="{{UO_SOLICITANTE_D}}" class="form-control"></div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">TÉCNICO ASIGNADO: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10">
                   <select 
                        id="ListTecnicoAsig" 
                        name="ListTecnicoAsig" 
                        placeholder="-- Seleccione --" 
                        ng-model="datos.TECNICO_ASIGNADO" 
                        class="form-control" 
                        ng-options='datoP.tec_id as (datoP.prs_paterno + " " + datoP.prs_materno + ", " +  datoP.prs_nombres) for datoP in ListTecnicoAsig'
                        disabled="">
                    </select> 
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="ibox-title_2">
                <h5>Activos Asignados</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label" style="red">TOTAL ACTIVOS ASIGNADOS: <small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-2"><input type="text" disabled="" placeholder="{{datos.totalactivosasignados}}" class="form-control"></div>
            </div>
            <!-- ----------------------------------------------- tabla ---------------------------------------------------- -->
            <div>
                <table class="table-responsive" id="dataTable1" style="font-size: x-small; border-spacing: 5px;">
                    <thead style="background-color: #009688 !important;color: white !important;">
                        <tr>
                            <!-- <th>#</th> -->
                            <th style="border: 1px solid #dddddd;"></th>
                            <th style="border: 1px solid #dddddd;text-align:center;">CODIGO</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">CODIGO BERTHIN 2006</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">CODIGO ANTERIOR</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">TIPO DE ACTIVO</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">DESCRIPCION</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">OBSERVACIONES</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">S</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">DA</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">UE</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">UO</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">FORM</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">FECHA ASIGNACION</th>
                            <th style="border: 1px solid #dddddd;text-align:center;">FUNCIONARIO A ASIGNAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in datos.obtAsignaciones" ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index)">
                            <!-- <td>{{$index}}+1</td> -->
                            <td style="border: 1px solid #009688;"><a tooltip = "Asignar" class="btn btn-small btn-circle" data-toggle="modal" data-target="#formulariomodal"><span class="fa fa-check"></span></a></td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_activo_codigoaf}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_activo_codigo}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_activo_codigoold}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_activo_nombre}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_activo_descripcion}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_activo_observaciones}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_ac_s}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_ac_da}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_ac_ue}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_ac_oficina}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_ac_form}}</td>
                            <td  style="border: 1px solid #009688;" class="joinedDate">{{item.dag_ubm_ac_fecha_trans | date:'short'}}</td>
                            <td style="border: 1px solid #009688;">{{item.dag_ubm_asig_funcionario_responsable}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- ----------------------------------------------- Fin UBM ---------------------------------------------------- -->
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">ASIGNAR:</label>
                <div class="col-sm-10">
                    <select id="INT_APLICA" name="INT_APLICA" class="form-control" ng-model="datos.INT_APLICA" placeholder="-- Seleccione --" ng-click="noasignartotal()" required>
                        <option value="1">Asignar</option>
                        <option value="2">Devolver</option>
                    </select>
                </div>
            </div>
            <div ng-show="datos.INT_APLICA=='1'">
                <div class="hr-line-dashed"></div>
                <div class="ibox-title_2">
                    <h5>Unidad Organizacional en la que se realizara la Asignacion</h5>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">SECTOR:</label>
                    <div class="col-sm-10">
                        <select 
                            class="form-control"
                            id="selSector" 
                            name="selSector" 
                            ng-model="Sec_Sel" 
                            placeholder="-- Seleccione --" 
                            ng-options="datoS.dag_s_s as (datoS.dag_s_s + ' ' + datoS.dag_s_descripcion) for datoS in datosSector"
                            required>
                            <option value=""></option>
                        </select>
                </div>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">DIRECCION ADMINISTRATIVA:</label>
                    <div class="col-sm-10">
                        <select 
                            class="form-control"
                            id="selDA"
                            name="selDA"
                            ng-model="DA_Sel"
                            ng-options="datoDA.dag_da_da as (datoDA.dag_da_da + ' ' + datoDA.dag_da_descripcion) for datoDA in datosDirAdm | filter:{dag_da_s:Sec_Sel}:true">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">UNIDAD EJECUTORA:</label>
                    <div class="col-sm-10">
                        <select 
                            class="form-control"
                            id="selUE"
                            name="selUE"
                            ng-model="UE_Sel"
                            ng-options="datoUE.dag_ue_ue as (datoUE.dag_ue_ue + ' ' + datoUE.dag_ue_descripcion) for datoUE in datosUniEje | filter:{dag_ue_s:Sec_Sel,dag_ue_da:DA_Sel}:true">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">UNIDAD ORGANIZACIONAL:</label>
                    <div class="col-sm-10">
                        <select 
                            class="form-control"
                            id="selUO"
                            name="selUO"
                            ng-model="UO_Sel"
                            ng-options="datoUE.dag_uo_uo as (datoUE.dag_uo_uo + ' ' + datoUE.dag_uo_descripcion) for datoUE in datosUniOrg | filter:{dag_uo_s:Sec_Sel,dag_uo_da:DA_Sel,dag_uo_ue:UE_Sel}:true"
                            required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div ng-show="datos.INT_APLICA=='2'">
                <div class="form-group"><label class="col-sm-2 control-label" style="red">JUSTIFICACION: <small class="m-l-sm" style="color: red">*</small></label>
                    <div class="col-sm-10"><textarea ng-model="datos.DAG_CAT_UBM_JUSTIFI" id="DAG_CAT_UBM_JUSTIFI" name="DAG_CAT_UBM_JUSTIFI" class="form-control" placeholder="Sin dato" ng-disabled="false" required></textarea>
                        <span style="color:red" ng-show="formulario.DAG_CAT_UBM_JUSTIFI.$invalid">
                            <span ng-show="formulario.DAG_CAT_UBM_JUSTIFI.$error.required">Es requerido.
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-disabled="false" ng-click="volver()"> <i class="glyphicon fa fa-times"></i> Cancelar </button> 
                <button type="button" class="btn btn-primary" ng-click="guardarcontinuar()" ng-disabled="formulario.$invalid"> <i class="glyphicon fa fa-save"></i> Guardar / Continuar</button>
            </div>
            <!-- ---------------------------------- modal de busqueda de funcionario responsable ------------------------------------------- -->
            <div class="modal fade" id="formulariomodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button ng-click="cancelaseleccion();" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                            <h4 class="modal-title" id="myModalLabel">Nuevo funcionario responsable</h4>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10"><input type="text" ng-model="funcionario" ng-change="cerear()" placeholder="Buscar Funcionario" class="form-control">
                                <br>
                                <ul style="border: 1px solid #009688;height:120px;  overflow-y:scroll;">
                                    <li ng-repeat="funcionario in ListFuncionarios | filter:funcionario " ng-click="cambiafuncionario(funcionario.dag_ubm_fr_ci,funcionario.dag_ubm_fr_paterno,funcionario.dag_ubm_fr_materno,funcionario.dag_ubm_fr_nombres)">
                                        <a>{{funcionario.dag_ubm_fr_ci}} {{funcionario.dag_ubm_fr_paterno}} {{funcionario.dag_ubm_fr_materno}}, {{funcionario.dag_ubm_fr_nombres}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div><br>
                        <div class="hr-line-dashed"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="noasignartotal()">Aceptar</button>
                            <button ng-click="cancelaseleccion();" id="cerrar" name="cerrar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button ng-click="noasignar();" type="button" class="btn btn-primary" data-dismiss="modal">No asignar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>    
</div>

