    <script>
    function emisionPLA65($scope,  $rootScope, DreamFactory, CONFIG, sessionService) {
        $scope.getRequisitosActividadEconomica = function(lista){
            //console.log("listasdoss",lista);
            $rootScope.datosRequisitosActividadEconomica= lista;
        }

    }
    </script>

    
    <div class="animated fadeInRight">
        <form class="form-horizontal">
            <div class="wrap" ng-controller="emisionPLA20" ng-init="getRequisitosActividadEconomica(datos.f01_requisitos_actividad_economica)">
                <div class="ibox-title_2">
                    <h5>DATOS GENERALES</h5>
                </div>

            <div class="form-group"><label class="col-sm-2 control-label">PMC:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_pmc}}" class="form-control"></div>
            </div>
            
                <div class="form-group"><label class="col-sm-2 control-label">Tipo de Persona:</label>
                    <div class="col-sm-10"  ng-switch on="datos.f01_tipo_per">
                        <div class="animate-switch" ng-switch-when="N">
                            <input type="text" disabled="" value="NATURAL" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                        </div>
                        <div class="animate-switch" ng-switch-when="J">
                            <input type="text" disabled="" value="JURIDICO" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                        </div>
                        
                    </div>                
                </div>

          <div ng-show="datos.f01_tipo_per=='N'">
        <div class="ibox-title_2">
                <h5>DATOS DEL CONTRIBUYENTE</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">NIT:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nit_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TIPO DE DOCUMENTO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_doc_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">NUMERO DE DOCUMENTO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_dos_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
        
                    <div class="form-group"><label class="col-sm-2 control-label">Expedido:</label>
                        <div class="col-sm-10">
                            <select id="f01_expedido_prop" name="f01_expedido_prop"  ng-model="datos.f01_expedido_prop"  class="form-control" placeholder="-- Seleccione --" ng-disabled="true" required>
                                <option value="LPZ"> LA PAZ  </option>
                                <option value="ORU"> ORURO  </option>
                                <option value="PTS"> POTOSI  </option>
                                <option value="CBB"> COCHABAMBA  </option>
                                <option value="TJA"> TARIJA  </option>
                                <option value="CHQ"> CHUQUISACA  </option>
                                <option value="SCZ"> SANTA CRUZ  </option>
                                <option value="PND"> PANDO  </option>
                                <option value="BNI"> BENI  </option>
                                <option value="EXT"> EXTRANJERO  </option>
                            </select>
                        </div>
                    </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">PRIMER NOMBRE:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_pri_nom_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">SEGUNDO NOMBRE:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_seg_nom_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TERCER NOMBRE:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ter_nom_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">APELLIDO PATERNO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_pat_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">APELLIDO MATERNO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_mat_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">APELLIDO DE CASADA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_cas_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TELEFONO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_telef_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">CELULAR:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cel_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">CORREO ELECTRONICO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_email_prop}}" class="form-control"></div>
            </div>

             <div ng-show="datos.f01_tipo_per=='J'">
        <div class="ibox-title_2">
                <h5>IDENTIFICACION DE LA EMPRESA</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">NIT:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_doc_per_jur}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">RAZON SOCIAL:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_raz_soc_per_jur}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>DATOS DEL REPRESENTANTE LEGAL</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">TIPO DE DOCUMENTO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_doc_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">NUMERO DE DOCUMENTO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_doc_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">EXPEDIDO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_expedido_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">PRIMER NOMBRE:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_pri_nom_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">SEGUNDO NOMBRE:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_seg_nom_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TERCER NOMBRE:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ter_nom_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">APELLIDO PATERNO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_pat_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">APELLIDO MATERNO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_mat_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">APELLIDO CASADA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_cas_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TELEFONO OFICINA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_telef_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">CELULAR:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cel_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">CORREO ELECTRONICO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_email_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">ZONA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_zona_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TIPO DE VIA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tipo_viarep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">NOMBRE DE VIA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nom_via_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">NUMERO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>.</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">GESTION DE VIGENCIA DEL PODER LEGAL:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ges_vig_pod}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">NUMERO PODER LEGAL:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_pod_leg}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">NUMERO NOTARIA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_not}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>DATOS TECNICOS DE LA ACTIVIDAD ECONOMICA</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">NIT:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nit}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">DENOMINACION:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_raz_soc}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">SUPERFICIE M2:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_sup}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">CAPACIDAD APROX:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cap_aprox}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">HORARIO INICIO DE ATENCION:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_de_hor}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">HORARIO FIN DE ATENCION:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_a_hor}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">EL ESTABLECIMIENTO ES::<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_estab_es}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">PRODUCTOS ELABORADOS:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_productosElaborados}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">ACTIVIDADES SECUNDARIAS:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_actividadesSecundarias}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>UBICACION DE LA ACTIVIDAD ECONOMICA</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">MACRODISTRITO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_macro_act_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">DISTRITO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_dist_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">ZONA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_zona_act_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TIPO DE VIA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_via_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">NOMBRE DE VIA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">FACTOR:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_factor}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">NUMERO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_act1}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">EDIFICIO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_edificio_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">BLOQUE:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_bloque_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">PISO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_piso_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">DPTO/OF/LOC::<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_dpto_of_loc}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TELEFONO:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tel_act1}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">CASILLA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_casilla}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">CUENTA ENERGIA ELECTRICA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cod_luz}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>.</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">TIPO DE ACTIVIDAD:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TIPO DE LICENCIA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tipo_lic_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">TIPO DE CATEGORIA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_categoria_agrupada_descripcion}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">ACTIVIDAD DESARROLLADA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_categoria_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>REQUISITOS GENERALES</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">REQUISITOS.:</label>
                <div class="col-sm-10">
                    <table class="table table-striped "><tbody>
                        <tr ng-repeat="role in datosRequisitosCheckBox">
                            <td><div class="ngSelectionCell">
                                <input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="role.estado" ng-model="role.estado" ng-disabled='true'/></div></td>
                            <td>{{role.resvalor}}</td>                                
                        </tr></tbody>
                    </table>
                </div>
            </div> 
            <div class="hr-line-dashed"></div> 
        <div class="ibox-title_2">
                <h5>INFORME DE ANTECEDENTES</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">:</label>
                <div class="col-sm-10">
                    <textarea id="f02_info" name="f02_info" ng-model="datos.f02_info" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f02_info.$invalid">
                        <span ng-show="formulario.f02_info.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>FOLIADO Y DESCRIPCION - ANTECEDENTES</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">NUMERO DE HOJAS ADJUNTAS AL TRAMITE:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f02_hojas_recibidas}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">DESCRIPCION:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f02_observaciones_i}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>PROGRAMACION DE INSPECCIÓN</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">FECHA DE INSPECCION LAB:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f06_fech_insp}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>CONDICIONES GENERALES</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">.:</label>
                <div class="col-sm-10">
                    <table class="table table-striped "><tbody>
                        <tr ng-repeat="role in datosRequisitosCheckBox">
                            <td><div class="ngSelectionCell">
                                <input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="role.estado" ng-model="role.estado" ng-disabled='true'/></div></td>
                            <td>{{role.resvalor}}</td>                                
                        </tr></tbody>
                    </table>
                </div>
            </div> 
            <div class="hr-line-dashed"></div> 
            <div class="form-group"><label class="col-sm-2 control-label">PRODUCTOS ELABORADOS/COMERCIALIZADOS:</label>
                <div class="col-sm-10">
                    <textarea id="f04_prod_elab_comer" name="f04_prod_elab_comer" ng-model="datos.f04_prod_elab_comer" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f04_prod_elab_comer.$invalid">
                        <span ng-show="formulario.f04_prod_elab_comer.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>.</h5>
            </div>
                <div class="form-group"><label class="col-sm-2 control-label">SE REALIZO REINSPECCION?:</label>
                    <div class="col-sm-10">
                        <input type="checkbox" ng-model="datos.f04_verif_insp" ng-true-value="'SI'" ng-false-value="'NO'" /> SI
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>DATOS REINSPECCION</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">FECHA:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f04_fecha_reinsp}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">OBSERVACIONES:</label>
                <div class="col-sm-10">
                    <textarea id="f04_obs_reinsp" name="f04_obs_reinsp" ng-model="datos.f04_obs_reinsp" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f04_obs_reinsp.$invalid">
                        <span ng-show="formulario.f04_obs_reinsp.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>.</h5>
            </div>
                <div class="form-group"><label class="col-sm-2 control-label">EL INMUEBLE DONDE FUNCIONA LA ACTIVIDAD ES CATALOGADO COMO PATRIMONIAL:</label>
                    <div class="col-sm-10">
                        <input type="checkbox" ng-model="datos.f04_verif_bien_pat" ng-true-value="'SI'" ng-false-value="'NO'" /> SI
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>ELABORACION DE INFORME DE RECOMENDACION</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">RESULTADO DE LA INSPECCION LAB: <small class="m-l-sm" style="color: red">*</small></label>
                <div class="col-sm-10">
                    <select id="f06_res_insp" name="f06_res_insp" ng-model="datos.f06_res_insp" class="form-control" required>
                        <option value="APROBADO">APROBADO</option>
                        <option value="OBSERVADO">OBSERVADO</option>
                    </select>
                    <span style="color:red" ng-show="formulario.f06_res_insp.$invalid">
                        <span ng-show="formulario.f06_res_insp.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div> 
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>RESULTADO DE LA INSPECCION</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">.:</label>
                <div class="col-sm-10">
                    <textarea id="f06_inf_apr" name="f06_inf_apr" ng-model="datos.f06_inf_apr" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f06_inf_apr.$invalid">
                        <span ng-show="formulario.f06_inf_apr.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>RESULTADO DE LA INSPECCION</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">.:</label>
                <div class="col-sm-10">
                    <textarea id="f06_inf_rech" name="f06_inf_rech" ng-model="datos.f06_inf_rech" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f06_inf_rech.$invalid">
                        <span ng-show="formulario.f06_inf_rech.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>RESULTADO DE LA INSPECCION</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">.:</label>
                <div class="col-sm-10">
                    <textarea id="f06_inf_obs" name="f06_inf_obs" ng-model="datos.f06_inf_obs" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f06_inf_obs.$invalid">
                        <span ng-show="formulario.f06_inf_obs.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>DATOS TECNICO</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">TECNICO CORRESPONDIENTE: <small class="m-l-sm" style="color: red">*</small></label>
                <div class="col-sm-10">
                    <select id="f06_dat_tec" name="f06_dat_tec" ng-model="datos.f06_dat_tec" class="form-control" required>
                        <option value="APROBADO">APROBADO</option>
                        <option value="OBSERVADO">OBSERVADO</option>
                    </select>
                    <span style="color:red" ng-show="formulario.f06_dat_tec.$invalid">
                        <span ng-show="formulario.f06_dat_tec.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div> 
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>FOLIADO Y DESCRIPCION - LAB</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">NUMERO DE HOJAS ADJUNTAS AL TRAMITE:<small class="m-l-sm" style="color: red"></small></label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f06_hojas_recibidas}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">DESCRIPCION:</label>
                <div class="col-sm-10">
                    <textarea id="f06_observaciones_i" name="f06_observaciones_i" ng-model="datos.f06_observaciones_i" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f06_observaciones_i.$invalid">
                        <span ng-show="formulario.f06_observaciones_i.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        <div class="ibox-title_2">
                <h5>VALIDACION RECOMENDACION</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">RESULTADO REVISION: <small class="m-l-sm" style="color: red">*</small></label>
                <div class="col-sm-10">
                    <select id="f65_firma" name="f65_firma" ng-model="datos.f65_firma" class="form-control" required>
                        <option value="APROBADO">APROBADO</option>
                        <option value="OBSERVADO">OBSERVADO</option>
                    </select>
                    <span style="color:red" ng-show="formulario.f65_firma.$invalid">
                        <span ng-show="formulario.f65_firma.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div> 
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">OBSERVACIONES:</label>
                <div class="col-sm-10">
                    <textarea id="f65_observaciones" name="f65_observaciones" ng-model="datos.f65_observaciones" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f65_observaciones.$invalid">
                        <span ng-show="formulario.f65_observaciones.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>

            <div class="hr-line-dashed"></div>
              <!-- botones -->
            <a class="btn btn-primary" ng-disabled="false" ng-click="volver()">
                    <i class="glyphicon fa fa-times"></i>
                     CANCELAR
                </a>
                <a class="btn btn-primary" ng-click="cargarDatos(datos);guardarData(datos);" ng-disabled="false">
                    <i class="glyphicon fa fa-save"></i>
                     GUARDAR / CONTINU
                </a>
                <!-- botones -->

            </div>
        </form>
    </div>

