
<div class="wrap">
    <legend> Datos Generales de la Actividad</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Fecha de Solicitud:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.fecha}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Tipo de Contribuyente: </label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_TIPO_CONTRIBUYENTE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font> Actividad: </label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AUX_ACTIVIDAD}}</label>
                </div>
            </div>
        </div>
    <legend> Datos Solicitante</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >PMC Nro.:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NUM_PMC}}</label>
                </div>
            </div>
         </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Solicitante:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_SOLICITANTE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Tipo de Documento:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_TIPO_DOC_IDENTIDAD}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Numero de Documento:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_RL_NUM_DOCUMENTO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Expedido en:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_EXP}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Correo Electrónico:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_CORREO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Número de Teléfono Celular:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_TEL_CELULAR}}</label>
                </div>
            </div>
        </div>
    <legend> Documentos Legales del Representante</legend>
    <div class="col-sm-12" align="right">
        <div class="form-group" >
            <label class="col-sm-4 control-label no-padding-right" for="url" >NIT:</label>
            <div class="col-sm-8" align="left">
                <label for="url" >{{datos.INT_RL_NIT}}</label>
            </div>
        </div>
    </div>
    <div class="col-sm-12" align="right">
        <div class="form-group" >
            <label class="col-sm-4 control-label no-padding-right" for="url" >NIT:</label>
            <div class="col-sm-8" align="left">
                <label for="url" >{{datos.INT_RL_NIT}}</label>
            </div>
        </div>
    </div>

    <div class="col-sm-12" align="right">
        <div class="form-group" >
            <label class="col-sm-4 control-label no-padding-right" for="url" >Razón Social:</label>
            <div class="col-sm-8" align="left">
                <label for="url" >{{datos.INT_RL_RAZON_SOCIAL}}</label>
            </div>
        </div>
    </div>

    <div class="col-sm-12" align="right">
        <div class="form-group" >
            <label class="col-sm-4 control-label no-padding-right" for="url" >Tipo de Documento:</label>
            <div class="col-sm-8" align="left">
                <label for="url" >{{datos.INT_RL_TIPO_DOCUMENTO}}</label>
            </div>
        </div>
    </div>

    <div class="col-sm-12" align="right">
        <div class="form-group" >
            <label class="col-sm-4 control-label no-padding-right" for="url" >Número de Poder Legal:</label>
            <div class="col-sm-8" align="left">
                <label for="url" >{{datos.INT_RL_NUM_DOCUMENTO}}</label>
            </div>
        </div>
    </div>

    <div class="col-sm-12" align="right">
        <div class="form-group" >
            <label class="col-sm-4 control-label no-padding-right" for="url" >Fecha de Emisión:</label>
            <div class="col-sm-8" align="left">
                <label for="url" >{{datos.INT_RL_FEC_EMISION_DOCUMENTO}}</label>
            </div>
        </div>
    </div>

    <div class="col-sm-12" align="right">
        <div class="form-group" >
            <label class="col-sm-4 control-label no-padding-right" for="url" >Notaría Nro.:</label>
            <div class="col-sm-8" align="left">
                <label for="url" >{{datos.INT_NUM_NOTARIA}}</label>
            </div>
        </div>
    </div>
    <legend> Datos Personales del Representante Legal</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Primer Nombre:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_RL_PRIMER_NOMBRE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Segundo Nombre:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_RL_SEGUNDO_NOMBRE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Apellido Paterno:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_RL_PATERNO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Apellido Materno:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_RL_MATERNO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Apellido Casada:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_RL_CASADA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Nacionalidad:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NACIONALIDAD}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Fecha de Nacimiento:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_RL_FEC_NACIMIENTO}}</label>
                </div>
            </div>
        </div>
    <legend> Datos de la Dirección del Representante Legal</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Macrodistrito:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_MACRO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Zona:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_ZONA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Tipo de Vía:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_VIA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Nombre de Vía:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NOMBRE_VIA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Número:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NUM}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Edificio:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_EDIF}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Bloque:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_BLOQUE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Piso:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_PISO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Departamento Nro.:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NUM_DEP}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Direccion Detallada : </label>
                <div class="col-sm-8" align="left">
                    <textarea id="INT_DIR_DET" name="INT_DIR_DET" ng-model="datos.INT_DIR_DET" class="form-control" required ng-disabled="desabilitado"></textarea>
                    <span style="color:red" ng-show="formulario.INT_DIR_DET.$invalid">
                        <span ng-show="formulario.INT_DIR_DET.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
    <legend> Datos de la Actividad</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >NIT:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NIT}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Razon Social / Denominación:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_DENOMINACION}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Fecha de Inicio de la Actividad:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_INICIO_AE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Superficie en mt2:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_SUPERFICIE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Capacidad (Aprox.):</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_CAPACIDAD}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Horario de Inicio:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_HR_INICIO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Horario de Finalización:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_HR_FINAL}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Establecimiento:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_ESTADO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Tiene Actividad Económica Principal:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_ACTIVIDAD_PRINCIPAL}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Actividad Principal:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_PRINCIPAL}}</label>
                </div>
            </div>
        </div>
    <legend> Ubicación de la Actividad</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Macrodistrito:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_MACRO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Zona:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_ZONA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Tipo de Vía:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_TIP_VIA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Nombre de Vía:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_NOMBRE_VIA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Número:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_NUMERO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Edificio:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_EDIFICIO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Bloque:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_BLOQUE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Piso:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_PISO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Departamento Nro.:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_NUMERO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Teléfono:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_TEL}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Número de Teléfono Celular:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_CEL}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Correo Electrónico:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_COR}}</label>
                </div>
            </div>
        </div>
    <legend> Información de Requisitos para Obtener Licencia / Autorización</legend>
        
        <div class="col-sm-12" >
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" align="right">Requisitos: </label> <div class="col-sm-8" align="left"></div>
                <div class="col-sm-2" align="right"></div>
                <div class="col-sm-10" align="left">
                    <label ng-repeat="role in datosRequisitosCheckBox">
                      <input type="checkbox" checklist-model="datos.AE_REQ" checklist-value="role.resid"> {{role.resvalor}}<br>
                    </label>
                </div>
            </div>
        </div> 

        <!--<div class="col-sm-12">
            Requisitos:
            <div class="form-group" align="left" >
                <div class="col-sm-4" align="right">
                    <input type="checkbox" ng-model="checkboxes.items[1]" ng-disabled="desabilitado"/> <font ng-show="checkboxes.items[1]">SI</font><font ng-show="!checkboxes.items[1]">NO</font>
                </div>
                <label class="col-sm-8" for="url" >FOTOCOPIA CÉDULA DE IDENTIDAD O CARNET DE EXTRANJERO:</label><br>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group" align="left" >
                <div class="col-sm-4" align="right">
                    <input type="checkbox" ng-model="checkboxes.items[1]" ng-disabled="desabilitado"/> <font ng-show="checkboxes.items[1]">SI</font><font ng-show="!checkboxes.items[1]">NO</font>
                </div>
                <label class="col-sm-8" for="url" >ÚLTIMA FACTURA DE ALGUN SERVICIO QUE ACREDITE LA DIRECCIÓN DEL INMUEBLE DONDE FUNCIONARÁ LA ACTIVIDAD ECONÓMICA</label><br>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group" align="left" >
                <div class="col-sm-4" align="right">
                    <input type="checkbox" ng-model="checkboxes.items[1]" ng-disabled="desabilitado"/> <font ng-show="checkboxes.items[1]">SI</font><font ng-show="!checkboxes.items[1]">NO</font>
                </div>
                <label class="col-sm-8" for="url" >PARA INMUEBLES SUPERIORES A MAYORES A 150 M2, CROQUIS O PLANO DE DISTRIBUCIÓN DE AMBIENTES QUE INCLUYA MEDIDA CORRESPONDIENTES:</label><br>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group" align="left" >
                <div class="col-sm-4" align="right">
                    <input type="checkbox" ng-model="checkboxes.items[1]" ng-disabled="desabilitado"/> <font ng-show="checkboxes.items[1]">SI</font><font ng-show="!checkboxes.items[1]">NO</font>
                </div>
                <label class="col-sm-8" for="url" >CERTIFICADO DE REGISTRO DE ANTECEDENTES PENALES DEL SOLICITANTE Y DE QUIEN SE ENCUENTRE A CARGO DE LA PRESTACIÓN DEL SERVICIO:</label><br>
            </div>
        </div>-->

    <div ng-show="datos.INT_ACTIVIDAD == 'INTB_COM' " ng-init="getListache(datos.INT_ACTIVIDAD)"> 
        <legend> Verificación de Inexistencia de Orden de Demolición</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Orden de Demolición: </label>
                <div class="col-sm-8" align="left">
                    <select id="AE_ORD_DEM" name="AE_ORD_DEM" ng-model="datos.AE_ORD_DEM" class="form-control" required ng-disabled="desabilitado">
                        <option value="EXISTENTE">EXISTENTE</option>
                        <option value="NO EXISTENTE">NO EXISTENTE</option>
                    </select>
                    <span style="color:red" ng-show="formulario.AE_ORD_DEM.$invalid">
                        <span ng-show="formulario.AE_ORD_DEM.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Informe sobre Orden de Demolición/PTA o Deudas: </label>
                <div class="col-sm-8" align="left">
                    <textarea id="AE_INF_DEM" name="AE_INF_DEM" ng-model="datos.AE_INF_DEM" class="form-control" required ng-disabled="desabilitado"></textarea>
                    <span style="color:red" ng-show="formulario.AE_INF_DEM.$invalid">
                        <span ng-show="formulario.AE_INF_DEM.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
    </div>

    <legend> CONCLUSION Informe Requisitos Documentarios </legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Resultado: </label>
                <div class="col-sm-8" align="left">
                    <select id="INT_APROBADO" name="INT_APROBADO" ng-model="datos.INT_APROBADO" class="form-control"  required ng-change="getAccesoInspeccion(datos.INT_APROBADO);" ng-disabled="desabilitado">
                        <option value="EN PROCESO">EN PROCESO</option>
                        <option value="APROBADO">APROBADO</option>
                        <option value="OBSERVADO">OBSERVADO</option>

                    </select>
                    <span style="color:red" ng-show="formulario.INT_APROBADO.$invalid">
                        <span ng-show="formulario.INT_APROBADO.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>


    <div ng-show="control1=='100'">   
        <legend> Cierre de Trámite - Generación de Acta de Abandono</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Generar Acta de Abandono: </label>
                <div class="col-sm-8" align="left">
                    <select id="INT_GENERAR_ACTA" name="INT_GENERAR_ACTA" ng-model="datos.INT_GENERAR_ACTA" class="form-control" required ng-disabled="desabilitado">
                        <option value="SI">SI</option>
                        <option value="SI">NO</option>
                    </select><br> 
                </div>
            </div>
        </div>

        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Observaciones:</label>
                <div class="col-sm-8" align="left">
                    <textarea id="INT_ACTA" name="INT_ACTA" ng-model="datos.INT_ACTA" class="form-control" required ng-disabled="desabilitado"></textarea>
                    <br>
                </div>
            </div>
        </div>
    </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Conclusiones: </label>
                <div class="col-sm-8" align="left">
                    <textarea id="INT_PROVEIDO" name="INT_PROVEIDO" ng-model="datos.INT_PROVEIDO" class="form-control" required ng-disabled="desabilitado"></textarea>
                    <span style="color:red" ng-show="formulario.INT_PROVEIDO.$invalid">
                        <span ng-show="formulario.INT_PROVEIDO.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font> Total Nro Fojas:</label>
                <div class="col-sm-8" align="left">
                    <input  ng-model="datos.CT_FOJAS" id="CT_FOJAS" name="CT_FOJAS" class="form-control" type="text" placeholder="ingrese numero de fojas" ng-disabled="desabilitado"><br>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Descripción Fojas:</label>
                <div class="col-sm-8" align="left">
                    <textarea id="CT_DESCRP" name="CT_DESCRP" ng-model="datos.CT_DESCRP" class="form-control" required ng-disabled="desabilitado"></textarea>
                    <span style="color:red" ng-show="formulario.CT_DESCRP.$invalid">
                        <span ng-show="formulario.CT_DESCRP.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >HISTORIAL:</label>
                <div class="col-sm-8" align="left">
                    <textarea id="INT_HISTORIAL" name="INT_HISTORIAL" ng-model="datos.INT_HISTORIAL" class="form-control" required ng-disabled="desabilitado"></textarea>
                    <span style="color:red" ng-show="formulario.INT_HISTORIAL.$invalid">
                        <span ng-show="formulario.INT_HISTORIAL.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
        <div class="modal-footer">
           <!--  <button id = "btnGuardar" data-dismiss="modal" type="button" class="btn btn-danger fa fa-save" ng-disabled="false" ng-click="volver()"><span span class="textoAux"> CANCELAR </span></button>
            <button id = "btnGuardar" ng-click="cargarDatos(datos);guardarData(datos);cargarFormulario(siguiente,posicion);" data-dismiss="modal" type="button" class="btn btn-success fa fa-save" ng-disabled="false"><span span class="textoAux"> GUARDAR / CONTINUAR </span></button> -->
            <!-- <button data-dismiss="modal" type="button" class="btn btn-danger fa fa-save" ng-disabled="false" ng-click="volver()"><span span class="textoAux"> CANCELAR </span></button>
            <button ng-click="cargarDatos(datos);guardarData(datos);" data-dismiss="modal" type="button" class="btn btn-success fa fa-save" ng-disabled="false"><span span class="textoAux"> GUARDAR / CONTINUAR </span></button>
            <button id = "btnGuardar" ng-show="siguiente==null" ng-click="cargarDatos(datos);guardarData(datos);derivar();" data-dismiss="modal" type="button" class="btn btn-success fa fa-save" ng-disabled="false"><span span class="textoAux"> DERIVAR </span></button>
            <button id = "btnGuardar" ng-show="casoActual.actsigid==0" data-dismiss="modal" type="button" class="btn btn-success fa fa-save" ng-disabled="false" ng-click="cerrarCaso()"><span span class="textoAux"> CERRAR CASO </span></button> -->
            <button data-dismiss="modal" type="button" class="btn btn-danger fa fa-save" ng-disabled="false" ng-click="volver()"><span span class="textoAux"> CANCELAR </span></button>
            <button ng-click="cargarDatos(datos);guardarData(datos);" data-dismiss="modal" type="button" class="btn btn-success fa fa-save" ng-disabled="false"><span span class="textoAux"> GUARDAR / CONTINUAR </span></button>

        </div>



</div>