<script>
function emisionPLA30($scope,  $rootScope, DreamFactory, CONFIG, sessionService) {
    $scope.getRequisitosActividadEconomica = function(lista){        
        $rootScope.datosRequisitosActividadEconomica= lista;


        $scope.startDateOpen = function($event) {
            $event.preventDefault();
            $event.stopPropagation();
            $scope.startDateOpened = true;
        };
    }

}
</script>


<div class="animated fadeInRight">
    <form class="form-horizontal">
        <div class="wrap" ng-controller="emisionPLA20" ng-init="getRequisitosActividadEconomica(datos.f01_requisitos_actividad_economica)">
            <div class="ibox-title_2">
                <h5>Datos Generales</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">PMC:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_pmc}}" class="form-control"></div>
            </div> 

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Persona:</label>
                <div class="col-sm-10"  ng-switch on="datos.f01_tipo_per">
                    <div class="animate-switch" ng-switch-when="N">
                        <input type="text" disabled="" value="NATURAL" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                    </div>
                    <div class="animate-switch" ng-switch-when="J">
                        <input type="text" disabled="" value="JURIDICO" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                    </div>
                    
                </div>                
            </div>

            <div ng-show="datos.f01_tipo_per=='N'">
                <div class="ibox-title_2">
                    <h5>Datos del Contribuyente</h5>
                </div>

                <div class="form-group"><label class="col-sm-2 control-label">NIT:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nit_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Tipo de Documento</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_doc_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Numero de Documento:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_dos_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Expedido:</label>
                    <div class="col-sm-10">
                        <select id="f01_expedido_prop" name="f01_expedido_prop"  ng-model="datos.f01_expedido_prop"  class="form-control" placeholder="-- Seleccione --" ng-disabled="true" required>
                            <option value="LPZ"> LA PAZ  </option>
                            <option value="ORU"> ORURO  </option>
                            <option value="PTS"> POTOSI  </option>
                            <option value="CBB"> COCHABAMBA  </option>
                            <option value="TJA"> TARIJA  </option>
                            <option value="CHQ"> CHUQUISACA  </option>
                            <option value="SCZ"> SANTA CRUZ  </option>
                            <option value="PND"> PANDO  </option>
                            <option value="BNI"> BENI  </option>
                            <option value="EXT"> EXTRANJERO  </option>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Primer Nombre:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_pri_nom_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Segundo Nombre:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_seg_nom_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Tercer Nombre:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ter_nom_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Apellido Paterno:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_pat_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Apellido Materno:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_mat_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Apellido de Casada:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_cas_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div> 

                <div class="form-group"><label class="col-sm-2 control-label">Telefono:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_telef_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Celular:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cel_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Correo Electronico:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_email_prop}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>


            <div ng-show="datos.f01_tipo_per=='J'">
                <div class="ibox-title_2">
                    <h5>Identificación de la Empresa</h5>
                </div>

                <div class="form-group"><label class="col-sm-2 control-label">NIT:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_doc_per_jur}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Razón Social:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_raz_soc_per_jur}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="ibox-title_2">
                    <h5>Datos del Representante Legal</h5>
                </div>

                <div class="form-group"><label class="col-sm-2 control-label">Tipo de Documento:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_doc_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Numero de Documento:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_doc_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Expedido:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_expedido_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Primer Nombre:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_pri_nom_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Segundo Nombre:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_seg_nom_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Tercer Nombre:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ter_nom_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Apellido Paterno:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_pat_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Apellido Materno:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_mat_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Apellido Casada:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_cas_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Teléfono Oficina:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_telef_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Celular:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cel_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group"><label class="col-sm-2 control-label">Correo Electrónico:</label>
                    <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_email_rep}}" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>                
            </div>

             <div class="ibox-title_2">
                <h5>Datos Técnicos de la Actividad Económica</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">NIT:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nit}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Denominación:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_raz_soc}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Superficie M2:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_sup}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Capacidad Aprox.:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cap_aprox}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Horario Inicio de Atención:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_de_hor}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Horario Fin de Atención:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_a_hor}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">El Establecimiento es:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_estab_es}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Productos Elaborados:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_productosElaborados}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Actividades Secundarias:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_actividadesSecundarias}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Ubicación de la Actividad Económica</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Macrodistrito:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_macro_act_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Distrito:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_dist_act_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Zona:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_zona_act_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Zona Segura:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_zon_seg}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Vía:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_via_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Nombre de Vía:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Numero:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_act1}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Edificio:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_edificio_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Bloque:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_bloque_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Piso:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_piso_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Dpto/OF/LOC:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_dpto_of_loc}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Teléfono:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tel_act1}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Casilla:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_casilla}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Cuenta Energía Eléctrica:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cod_luz}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Actividad</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Licencia:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tipo_lic_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Categoria:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_categoria_agrupada_descripcion}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Actividad Desarrollada:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_categoria_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Requisitos Generales</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Requisitos:</label>
                <div class="col-sm-10">
                    <table class="table table-striped "><tbody>
                        <tr ng-repeat="role in datosRequisitosActividadEconomica">
                            <td><div class="ngSelectionCell">
                                <input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="role.estado" ng-model="role.estado" ng-disabled="true"/></div></td>
                            <td>{{role.resvalor}}</td>                                
                        </tr></tbody>
                    </table>
                </div>
            </div>
            <div class="hr-line-dashed"></div>


            <div class="ibox-title_2">
                <h5>Verificación de antecedentes</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">La Solicitud:</label>
                <div class="col-sm-10">
                    <select id="f02_la_sol_proced" name="f02_la_sol_proced" class="form-control"  ng-model="datos.f02_la_sol_proced" >
                         <option value="PROCEDE">PROCEDE</option>
                        <option value="OBSERVADO">OBSERVADO</option>
                        <option value="RECHAZADO">RECHAZADO</option>
                    </select>
                    <span style="color:red" ng-show="formulario.f02_la_sol_proced.$invalid">
                        <span ng-show="formulario.f02_la_sol_proced.$error.required">Es requerido.
                        </span>
                    </span>
                    
                </div>
            </div>
            <div class="hr-line-dashed"></div>  


            
            <div ng-show="datos.f02_la_sol_proced=='PROCEDE1'">
                <div class="form-group"><label class="col-sm-2 control-label">Informe {{datos.f02_la_sol_proced}}:</label>
                    <div class="col-sm-10">
                        <textarea id="f02_info" name="f02_info" ng-model="datos.f02_info" class="form-control" required ></textarea>
                        <span style="color:red" ng-show="formulario.f02_info.$invalid">
                            <span ng-show="formulario.f02_info.$error.required">Es requerido.
                            </span>
                        </span>                    
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>

            <div ng-show="datos.f02_la_sol_proced=='OBSERVADO'">
                <div class="ibox-title_2">
                    <h5>Informe de Antecedentes</h5>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Informe {{datos.f02_la_sol_proced}}:</label>
                    <div class="col-sm-10">
                        <textarea id="f02_info2" name="f02_info2" ng-model="datos.f02_info2" class="form-control" required ></textarea>
                        <span style="color:red" ng-show="formulario.f02_info2.$invalid">
                            <span ng-show="formulario.f02_info2.$error.required">Es requerido.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

            </div>

            <div ng-show="datos.f02_la_sol_proced=='RECHAZADO'">
                <div class="ibox-title_2">
                    <h5>Informe de Antecedentes</h5>
                </div>
                <div class="form-group"><label class="col-sm-2 control-label">Informe {{datos.f02_la_sol_proced}}:</label>
                    <div class="col-sm-10">
                        <textarea id="f02_info3" name="f02_info3" ng-model="datos.f02_info3" class="form-control" required ></textarea>
                        <span style="color:red" ng-show="formulario.f02_info3.$invalid">
                            <span ng-show="formulario.f02_info3.$error.required">Es requerido.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>                
            

            <div class="ibox-title_2">
                <h5>Foliado y Descripción - Antecedentes</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Numero de Hojas Adjuntas al Trámite:</label>
                <div class="col-sm-10"><input type="text" placeholder="{{datos.f02_hojas_recibidas}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

           <div class="form-group"><label class="col-sm-2 control-label">Descripción:</label>
                <div class="col-sm-10">
                    <textarea id="f02_observaciones_i" name="f02_observaciones_i" ng-model="datos.f02_observaciones_i" class="form-control" required ></textarea>                    
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Asignación de Inspector y Programación de Inspección</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">:</label>
                <div class="col-sm-10">
                    <select id="f02_nom_ins" name="f02_nom_ins" class="form-control"  ng-model="datos.f02_nom_ins" >
                        <option value="INSPECTOR1">INSPECTOR 1</option>
                        <option value="INSPECTOR2">INSPECTOR 2</option>
                        <option value="INSPECTOR3">INSPECTOR 3</option>
                        <option value="INSPECTOR4">INSPECTOR 4</option>

                        <span style="color:red" ng-show="formulario.f02_nom_ins.$invalid">
                            <span ng-show="formulario.f02_nom_ins.$error.required">Es requerido.
                            </span>
                        </span>
                    </select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            
            <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> Fecha de Inspección:</label>
                <div class="col-sm-10">
                    <p class="input-group"><input name="f02_fech_insp" id="f02_fech_insp" type="text" class="form-control" datepicker-popup="" ng-model="datos.f02_fech_insp" is-open="startDateOpened" ng-required="true" close-text="Close" ng-disabled="desabilitado"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span></p>
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Foliado y Descripción - Asignación</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> Numero de Hojas Adjuntas al Trámite:</label>
                <div class="col-sm-10"><input ng-model="datos.f03_hojas_recibidas" id="f03_hojas_recibidas" name="f03_hojas_recibidas" class="form-control" type="text" ng-disabled="false" ></div>
            </div>
            <div class="hr-line-dashed"></div>
           
            <div class="form-group"><label class="col-sm-2 control-label">Descripción:</label>
                <div class="col-sm-10">
                    <textarea id="f03_observaciones_i" name="f03_observaciones_i" ng-model="datos.f03_observaciones_i" class="form-control" required ></textarea>
                    <span style="color:red" ng-show="formulario.f03_observaciones_i.$invalid">
                        <span ng-show="formulario.f03_observaciones_i.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <!-- botones -->
            <a class="btn btn-primary" ng-disabled="false" ng-click="volver()">
                <i class="glyphicon fa fa-times"></i>
                 Cancelar
            </a>
            <a class="btn btn-primary" ng-click="cargarDatos(datos);guardarData(datos);" ng-disabled="false">
                <i class="glyphicon fa fa-save"></i>
                 Guardar / Continuar
            </a>
            <!-- botones -->


        </div>
    </form>
</div>

    
    
   
    
   
    
   
   