<div class="col-md-12" class="row" ng-controller="fichaMantController" >
    <table  width="100%">
        <td><h3>FICHA ASIGNACIÓN DE TÉCNICO</h3></td>
          <br/>
            
        <!-- <td><h3>Busqueda Por Fecha de Programación</h3></td> --> 
    </table>

    <table  width="100%">
        <td><h3>Busqueda Por Fecha de Programación</h3></td></table>
       <div class="modal-body" >
        <div class="col-md-3">
            <!-- <label >Busqueda por Fecha de Programación:</label> -->
            <div class="form-group">

                <label class="col-sm-4 control-label no-padding-right" for="url">FECHA DE:</label>
                <div class="controls">
                    <p class="input-group">
                    <input name="FECHA1" id="registro1[]" type="text" class="form-control" datepicker-popup="" ng-model="registro.FECHA1" is-open="startDateOpened1" ng-required="true" close-text="Close" ng-disabled="desabilitado"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="startDateOpen1($event)"><i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
                </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right" for="url">A:</label>
                    <div class="controls">    
                        <p class="input-group"><input name="FECHA2" id="registro2[]" type="text" class="form-control" datepicker-popup="" ng-model="registro.FECHA2" is-open="startDateOpened" ng-required="true" close-text="Close" ng-disabled="desabilitado"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span></p>
                    </div>
                </div>
            </div> 
            <div class="col-md-4">
                <button ng-click="getMostrarTabla('USG-MANT',registro);" data-dismiss="modal" type="button" class="btn btn-primary" >Buscar</button>
            </div>
            <!-- busqueda texyto -->

        <div class="col-md-7">
            <div class="form-group">
                <label for="category" >Busqueda por:</label>
                <div class="controls">
                    <select ng-model="datosCargar.campo" id="campo" name="campo" class="form-control"  ng-required="true" >
                        <option style="display:none" value="">-- Elegir--</option>
                       <!--  <option value = 'USG_NUM_SOL'>CÓDIGO</option> -->
                        <option value = 'USG_UO_SOL_VALOR'>UNIDAD SOLICITANTE</option>
                                         
                      
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12" ng-if="datosCargar.campo==='USG_UO_SOL_VALOR'">
                    <div class="form-group">
                        <label >Opción: </label>                        
                       <input  ng-value="&nbsp;" ng-model="datosCargar.id" name="wsnombre" id="wsnombre" class="form-control" type="text" placeholder="Ingrese Unidad Solicitante" ng-disabled="only" ng-required="true" onkeyUp="return conMayusculas(this)" ng-change="getTabla('USG-MANT',datosCargar.id,datosCargar.campo)">
                    </div>
        </div>
                


            <br/>
            <br>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Datos </h5> 
                    <div ibox-tools></div>
                    <div align="right">
                        <a class="btn btn-primary" ng-click="ejemplo(grupo.casid,67)" >
                            <i class="glyphicon fa fa-eye"></i>
                                 Imprimir Listado
                        </a>
                    </div>
                </div>  
                   <div class="ibox-content" >
                    <div class="table-responsive"> 
                        <table  class="table table-striped"  >
                            <thead>      
                               <th>#&nbsp;</th>
                                <th>Codigo&nbsp;</th>
                                <!-- <th>Ubicacion &nbsp;</th> -->
                                <th>Telefono &nbsp;</th>
                                <th>Unidad solicitante&nbsp;</th>
                                <th>Funcionario Solicitante&nbsp;</th>
                                <th>Lugar&nbsp;</th>
                               <!--  <th>Lugar&nbsp;</th> -->
                            </thead>
                            <tbody> 
                              <tr ng-repeat="grupo in grupos" ng-model="datosCargar." >
                                    <td>{{grupo.casid}}</td>
                                    <td>{{grupo.codigo}}</td>                               
                                    <td>{{grupo.telefono}}</td>
                                    <td>{{grupo.unidad_sol}}</td>
                                    <td>{{grupo.funcionario_solicitante}}</td>
                                    <td>{{grupo.ubicacion}}</td> 
                                <td data-title="'IMP'"><a  tooltip = "Imprimir"  class="btn-floating" ng-click="ejemplo3(grupo.casid)"><i class="fa fa-eye" ></i></a></td>                              
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>