<div class="col-md-12" ng-controller="serviciosDiagMant1">
    <form  name="reportForm" id="reportForm" class="form-horizontal" role="form"
        novalidate data-ng-init="inicioActuaciones()" >
        <div>
               <div class="col-md-12 col-sm-12 col-xs-12"   >
                <div class="form-group">
                    <label for="category">REPORTES GRAFICOS:</label>
                    <div class="controls">

                        <select ng-model="datosCarga.area" id="area" name="area" class="form-control"  ng-required="true">
                            <option style="display:none" value="">-- Elegir--</option>
                            <option value = 1 >REPORTE GENERAL</option>
                            <option value = 2 >DIAGNOSTICO</option>
                            <option value = 3 >DIAGNOSTICO Y MANTENIMIENTO </option>
                            <option value = 4 >MANTENIMIENTO  </option>
                        </select>                        
                    </div>
                </div>
            </div>
              <br>
              
              <div>
                   <a class="btn btn-primary" ng-click="categoria(datosCarga.area)" >
                      <i class="glyphicon fa fa-eye"></i>
                       Generar Grafica
                  </a>
                  <a class="btn btn-primary" ng-click="cargarDatos()" >
                      <i class="glyphicon fa fa-print"></i>
                       Imprimir
                  </a>
              </div>
              
          <div>
    </form>

    <div ng-show = "graficaP">
      <div class="row"  id="grafica" >
          <table  width="100%">
            <td>
            </br>
              <center><h3>REPORTE ESTADISTICO DE DIAGNOSTICO Y MANTENIMIENTO - GRAFICA </h3></center>
            </td>
          </table>
          <br/>
      </div>
      
        <div class="col-md-12" >
        <div class="row panel panel-default" >
          <div class="table-responsive" >
              <table class="table table-hover">
                  <thead>
                  <!--tr>
                      <th class="text-center"><br>TRAMITES</th>
                  </tr-->
                  </thead>
                  <tbody  id="Tramite">
                  <tr>
                      <td><div class="col-sm-1"><b>#</b></div></td>
                      <td><div class="col-sm-5"><b>SERVICIOS</b></div></td>
                      <td><div class="col-sm-2"><b>CANTIDAD</b></div></td>
                  </tr>
                  <tr ng-repeat="dato in datatramite">
                      <td><div class="col-sm-1">{{$index+1}}</div></td>
                      <td><div class="col-sm-5">{{dato.nombre}}</div></td>
                      <td><div class="col-sm-2">{{dato.suma}}</div></td>
                  </tr>
                  <td>
                          <div class="col-sm-3"><b>Total</b></div></td>
                          <td><div class="col-sm-7"><b>=</b></div></td>
                          <td><div class="col-sm-3"><b>{{cantidad}}</b></div></td>
                  </tbody>
              </table>
              </br>
            </div>
          </div>
        </div>
        <div class="col-md-12" id="graficass">
            <div id="containerdato" style="width: 1200px; height:600px; margin: 0 auto"></div>
        </div>
      
  </div>
