<script>
function cancelacion01Controller($scope,  $rootScope, DreamFactory, CONFIG, sessionService) {
    var fecha= new Date();
    $scope.fechactual=fecha.getFullYear() + "-" + fecha.getMonth() + "-" + fecha.getDate() + " " + fecha.getHours() + ":" + fecha.getMinutes() + ":" + fecha.getSeconds();
    
    $scope.checkboxesi = { 'checked': true, items: {} };
    var requisitos = $scope.getSPCombos('sp_lst_datos_parametricas','{"params": [{"name":"accion","value":"CAN"},{"name":"valoparametro1","value":"1"},{"name":"valoparametro2","value":"INTA_INT_JUE"}]}');
    requisitos.then(function(respuesta) {
        $rootScope.datosRequisitosCheckBox = respuesta;
        console.log("DATOS REUISITOS", $rootScope.datosRequisitosCheckBox);
    }, function(reason) {
        alert('Failed: ' + reason);
    });
 
    $scope.tituloForm1 = "TRÁMITE: CANCELACIÓN DE LICENCIA  PARA EL FUNCIONAMIENTO DE SERVICIO DE INTERNET VERIFICACIÓN DE REQUISITOS - PERSONA NATURAL";
    $scope.titulo2Form1 = "VERIFICACIÓN DE REQUISITOS Y ORDEN DE DEMOLICIÓN - PERSONA NATURAL";
}
</script>
<div class="wrap" ng-controller="">
    <div class="tab-container">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#titular" data-toggle="tab">Datos del Titular de la licencia</a></li>
            <li ><a href="#actividad" data-toggle="tab">Datos de la actividad economica</a></li>
            <li><a href="#requisitos" data-toggle="tab">Requisitos de la actividad economica</a></li>
        </ul>
	</div>
    <div class="ibox-content" ng-show = "titular" id="titular">titular
		<div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Tipo de Contribuyente: </label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_TIPO_CONTRIBUYENTE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font> Actividad: </label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AUX_ACTIVIDAD}}</label>
                </div>
            </div>
        </div>
    <legend> Datos Solicitante</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Solicitante:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_SOLICITANTE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Tipo de Documento:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_TIPO_DOC_IDENTIDAD}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Numero de Documento:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NUM_DOC}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Expedido en:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_EXP}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Correo Electrónico:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_CORREO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Número de Teléfono Celular:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_TEL_CELULAR}}</label>
                </div>
            </div>
        </div>
    <legend> Datos Personales del Solicitante</legend>

        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Primer Nombre:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_PRIMER_NOMBRE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Segundo Nombre:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_SEGUNDO_NOMBRE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Apellido Paterno:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_PATERNO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Apellido Materno:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_MATERNO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Apellido Casada:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_CASADA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Nacionalidad:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NACIONALIDAD}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Fecha de Nacimiento:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_FEC_NACIMIENTO}}</label>
                </div>
            </div>
        </div>	
		<legend> Datos de la Dirección del Solicitante</legend>
		 <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Macrodistrito:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_MACRO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Zona:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_ZONA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Tipo de Vía:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_VIA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Nombre de Vía:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NOMBRE_VIA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Número:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NUM}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Edificio:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_EDIF}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Bloque:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_BLOQUE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Piso:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_PISO}}</label>
                </div>
            </div>
        </div>        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Departamento Nro.:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NUM_DEP}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Direccion Detallada : </label>
                <div class="col-sm-8" align="left">
                    <textarea id="INT_DIR_DET" name="INT_DIR_DET" ng-model="datos.INT_DIR_DET" class="form-control" required ng-disabled="true"></textarea>
                    <span style="color:red" ng-show="formulario.INT_DIR_DET.$invalid">
                        <span ng-show="formulario.INT_DIR_DET.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div> 
    </div>   
		
    <div class="ibox-content" ng-show = "actividad" id="actividad">actividad
		<legend> Datos de la Actividad</legend>        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >NIT:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_NIT}}</label>
                </div>
            </div>
        </div>        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Razon Social / Denominación:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_DENOMINACION}}</label>
                </div>
            </div>
        </div>        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Fecha de Inicio de la Actividad:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_INICIO_AE}}</label>
                </div>
            </div>
        </div>        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Superficie en mt2:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_SUPERFICIE}}</label>
                </div>
            </div>
        </div>        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Capacidad (Aprox.):</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_CAPACIDAD}}</label>
                </div>
            </div>
        </div>        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Horario de Inicio:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_HR_INICIO}}</label>
                </div>
            </div>
        </div>        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Horario de Finalización:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_HR_FINAL}}</label>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Establecimiento:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_ESTADO}}</label>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Tiene Actividad Económica Principal:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_ACTIVIDAD_PRINCIPAL}}</label>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Actividad Principal:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_PRINCIPAL}}</label>
                </div>
            </div>
        </div>        
    <legend> Ubicación de la Actividad</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Macrodistrito:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_MACRO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Zona:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_ZONA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Tipo de Vía:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_TIP_VIA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Nombre de Vía:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_NOMBRE_VIA}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Número:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_NUMERO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Edificio:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_EDIFICIO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Bloque:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_BLOQUE}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Piso:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_PISO}}</label>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Departamento Nro.:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_NUMERO}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Teléfono:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_TEL}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Número de Teléfono Celular:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_CEL}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Correo Electrónico:</label>
                <div class="col-sm-8" align="left">
                    <label for="url" >{{datos.INT_AC_COR}}</label>
                </div>
            </div>
        </div>
    <legend> Información de Requisitos para Obtener Licencia / Autorización</legend>
        <div class="col-sm-12" >
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" align="right">Requisitos: </label> <div class="col-sm-8" align="left"></div>
                <div class="col-sm-2" align="right"></div>
                <div class="col-sm-10" align="left">
                    <label ng-repeat="role in datosRequisitosCheckBox">
                      <input type="checkbox" checklist-model="datos.AE_REQ" checklist-value="role.resid" ng-disabled="true"> {{role.resvalor}}<br>
                    </label>
                </div>
            </div>
        </div>
    <legend> Verificación de Inexistencia de Orden de Demolición</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Orden de Demolición: </label>
                <div class="col-sm-8" align="left">
                    <select id="AE_ORD_DEM" name="AE_ORD_DEM" ng-model="datos.AE_ORD_DEM" class="form-control" required ng-disabled="true" >
                        <option value="EXISTENTE">EXISTENTE</option>
                        <option value="NO EXISTENTE">NO EXISTENTE</option>
                    </select>
                    <span style="color:red" ng-show="formulario.AE_ORD_DEM.$invalid">
                        <span ng-show="formulario.AE_ORD_DEM.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Informe sobre Orden de Demolición </label>
                <div class="col-sm-8" align="left">
                    <textarea id="AE_INF_DEM" name="AE_INF_DEM" ng-model="datos.AE_INF_DEM" class="form-control" required ng-disabled="true" ></textarea>
                    <span style="color:red" ng-show="formulario.AE_INF_DEM.$invalid">
                        <span ng-show="formulario.AE_INF_DEM.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
    <legend> CONCLUSION Informe Requisitos Documentarios y Orden de Demolición</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Resultado: </label>
                <div class="col-sm-8" align="left">
                    <select id="INT_APROBADO" name="INT_APROBADO" ng-model="datos.INT_APROBADO" class="form-control" required ng-disabled="true" >
                        <option value="EN PROCESO">EN PROCESO</option>
                        <option value="APROBADO">APROBADO</option>
                        <option value="OBSERVADO">OBSERVADO</option>

                    </select>
                    <span style="color:red" ng-show="formulario.INT_APROBADO.$invalid">
                        <span ng-show="formulario.INT_APROBADO.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
    <legend> Datos Inspección Programada</legend>
        <div class="form-group" >
            <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Inspector Designado: </label>
            <div class="col-sm-8" align="left">
                <select id="INT_SELECCIONA_INSPECTOR" name="INT_SELECCIONA_INSPECTOR"  ng-model="datos.INT_SELECCIONA_INSPECTOR"  class="form-control" placeholder="-- Seleccione --" ng-disabled="true"> 
                    <option ng-repeat="dato in datosInspectorDesignados" value="{{dato.resvalor}}"> {{dato.resvalor}} </option>
                </select>
                <span style="color:red" ng-show="formulario.INT_SELECCIONA_INSPECTOR.$invalid">
                    <span ng-show="formulario.INT_SELECCIONA_INSPECTOR.$error.required">Es requerido.
                    </span>
                </span><br>
            </div>
        </div>
     <legend> Resultado de la Inspección</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font> Fecha de Inspección: </label>
                <div class="col-sm-8" align="left">
                    <p class="input-group"><input name="INT_FEC_INSPECCION" id="INT_FEC_INSPECCION" type="text" class="form-control" datepicker-popup="" ng-model="datos.INT_FEC_INSPECCION" is-open="startDateOpened" ng-required="true" close-text="Close" ng-disabled="true"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span></p><br>
                </div>
            </div>
        </div>

        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Hora de Inspección: </label>
                <div class="col-sm-8" align="left">
                    <input  ng-model="datos.INT_HORA_INSPECCION" id="INT_HORA_INSPECCION" name="INT_HORA_INSPECCION" class="form-control" type="text" placeholder="ingrese hora de inspección" ng-disabled="true"><br>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" align="right"> Condiciones Técnicas Registradas: </label> <div class="col-sm-8" align="left"></div>
                <div class="col-sm-2" align="right"></div>
                <div class="col-sm-10" align="left">
                    <label ng-repeat="role in datosRequisitosCondiciones">
                      <input type="checkbox"  checklist-model="datos.INT_CON_TEC" checklist-value="role.resid" ng-disabled="true"> {{role.resvalor}}<br>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Observaciones- Primera fecha de inspección:</label>
                <div class="col-sm-8" align="left"> 
                    <textarea id="INT_OBSERVACIONES_PRIMERA_FECHA" name="INT_OBSERVACIONES_PRIMERA_FECHA" ng-model="datos.INT_OBSERVACIONES_PRIMERA_FECHA" class="form-control" placeholder="OBSERVACIONES FECHA DE INSPECCIÓN PROGRAMADA INICIALMENTE" required ng-disabled="true"></textarea>
                    <span style="color:red" ng-show="formulario.INT_OBSERVACIONES_PRIMERA_FECHA.$invalid">
                        <span ng-show="formulario.INT_OBSERVACIONES_PRIMERA_FECHA.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>

         <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Requiere Re inspección:</label>
                <div class="col-sm-8" align="left"> 
                    <select id="INT_REINSPECCION" name="INT_REINSPECCION" class="form-control"  ng-model="datos.INT_REINSPECCION" ng-disabled="true" >                        
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>                              
                    </select>
                    <span style="color:red" ng-show="formulario.INT_REINSPECCION.$invalid">
                        <span ng-show="formulario.INT_REINSPECCION.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
    <legend> Datos de Re inspección</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font> Fecha de Re Inspección: </label>
                <div class="col-sm-8" align="left">
                    <p class="input-group"><input name="INT_SEGUNDA_FEC_INSPECCION" id="INT_SEGUNDA_FEC_INSPECCION" type="text" class="form-control" datepicker-popup="" ng-model="datos.INT_SEGUNDA_FEC_INSPECCION" is-open="startDateOpened" ng-required="true" close-text="Close" ng-disabled="true"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span></p><br>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Hora de Re inspección:</label>
                <div class="col-sm-8" align="left"> 
                    <div class="clearfix">
                        <div class="input-group clockpicker pull-center" data-placement="left" data-align="top" data-autoclose="true" placeholder="HORA DE RE INSPECCIÓN">
                            <input  ng-model="datos.INT_HORA_REINSPECC" id="INT_HORA_REINSPECC" name="INT_HORA_REINSPECC" class="form-control" type="text" class="form-control" ng-disabled="true">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Datos de Re inspección:</label>
                <div class="col-sm-8" align="left"> 
                    <textarea id="INT_OBSERVACIONES_SEGUNDA_FECHA" name="VALOR" ng-model="datos.INT_OBSERVACIONES_SEGUNDA_FECHA" class="form-control" placeholder="" ng-disabled="true" ></textarea>
                    <br>
                </div>
            </div>
        </div>
    <legend> Recomendación del Inspector</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>El Inspector Recomienda:</label>
                <div class="col-sm-8" align="left"> 
                    <select id="INT_REC_INS" name="INT_REC_INS" class="form-control"  ng-model="datos.INT_REC_INS" ng-disabled="true">                        
                        <option value="PROCEDE">PROCEDE</option>
                        <option value="OBSERVADO">OBSERVADO</option>
                        <option value="EN PROCESO">EN PROCESO</option>
                    </select>
                    <span style="color:red" ng-show="formulario.INT_REC_INS.$invalid">
                        <span ng-show="formulario.INT_REC_INS.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
    <legend> Validación Informe con Recomendaciones - Jefe UI</legend>
         <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>Informe:</label>
                <div class="col-sm-8" align="left"> 
                    <select id="INT_T_REC_UI" name="INT_T_REC_UI" class="form-control"  ng-model="datos.INT_T_REC_UI" ng-disabled="true">                                                
                        <option value="VALIDADO">VALIDADO</option>
                        <option value="OBSERVADO">OBSERVADO</option>
                    </select>
                    <span style="color:red" ng-show="formulario.INT_T_REC_UI.$invalid">
                        <span ng-show="formulario.INT_T_REC_UI.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Observaciones</label>
                <div class="col-sm-8" align="left"> 
                    <textarea id="INT_DESCRIP_UI" name="INT_DESCRIP_UI" ng-model="datos.INT_DESCRIP_UI" class="form-control" placeholder="" required  ng-disabled="true"></textarea>
                    <span style="color:red" ng-show="formulario.INT_DESCRIP_UI.$invalid">
                        <span ng-show="formulario.INT_DESCRIP_UI.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
    <legend> Validación Técnico UDE</legend>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font>El Técnico UDE emite recomendación:</label>
                <div class="col-sm-8" align="left"> 
                    <select id="INT_T_REC_UDE" name="INT_T_REC_UDE" class="form-control"  ng-model="datos.INT_T_REC_UDE" ng-disabled="true" >                        
                        <option value="APROBADO">APROBADO</option>
                        <option value="OBSERVADO">OBSERVADO</option>
                        <option value="ABANDONO">ABANDONO</option> 
                    </select>
                    <span style="color:red" ng-show="formulario.INT_T_REC_UDE.$invalid">
                        <span ng-show="formulario.INT_T_REC_UDE.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>	
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Proveido: </label>
                <div class="col-sm-8" align="left">
                    <textarea id="INT_PROVEIDO" name="INT_PROVEIDO" ng-model="datos.INT_PROVEIDO" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.INT_PROVEIDO.$invalid">
                        <span ng-show="formulario.INT_PROVEIDO.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" ><font color="#FF0000" size="5px"> * </font> Total Nro Fojas:</label>
                <div class="col-sm-8" align="left">
                    <input  ng-model="datos.CT_FOJAS" id="CT_FOJAS" name="CT_FOJAS" class="form-control" type="text" placeholder="ingrese numero de fojas" ng-disabled="false" ><br>
                </div>
            </div>
        </div>
        <div class="col-sm-12" align="right">
            <div class="form-group" >
                <label class="col-sm-4 control-label no-padding-right" for="url" >Descripción Fojas:</label>
                <div class="col-sm-8" align="left">
                    <textarea id="CT_DESCRP" name="CT_DESCRP" ng-model="datos.CT_DESCRP" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.CT_DESCRP.$invalid">
                        <span ng-show="formulario.CT_DESCRP.$error.required">Es requerido.
                        </span>
                    </span><br>
                </div>
            </div>
        </div>
	
    </div> 
    <div class="ibox-content" ng-show = "requisitos" id="requisitos">requisitos
    </div> 	
        <div class="modal-footer">
        </div>
    <legend>. </legend>
</div>