<script>
    function A_Modificacion_75Controller($scope,  $rootScope, DreamFactory, CONFIG, sessionService) {
        
    }
</script>

<div class="animated fadeInRight">
    <form class="form-horizontal">
        <div class="wrap"  ng-controller="cocheController">
            <div class='form-group' >
                <h5>Emision de licencia de funcionamiento:</h5>
             </div>

            <div class="form-group"><label class="col-sm-2 control-label">PMC:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_pmc}}" class="form-control"></div>
            </div> 

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Persona:</label>
                <div class="col-sm-10"  ng-switch on="datos.f01_tipo_per">
                    <div class="animate-switch" ng-switch-when="N">
                        <input type="text" disabled="" value="NATURAL" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                        </div>
                    <div class="animate-switch" ng-switch-when="J">
                            <input type="text" disabled="" value="JURIDICO" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                    </div>
                        
                    </div>                
            </div> 

            <div class='hr-line-dashed'></div>
            <div ng-show="datos.f01_tipo_per=='N'">
            <div class="ibox-title_2">
                <h5>Datos del Contribuyente</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">NIT:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nit_prop}}" class="form-control"></div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de Documento:</label>
                <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tip_doc_prop}}'><br>
              </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Numero de Documento:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_dos_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div> 

            <div class="form-group"><label class="col-sm-2 control-label">Expedido:</label>
                <div class="col-sm-10">
                    <select id="f01_expedido_prop" name="f01_expedido_prop"  ng-model="datos.f01_expedido_prop"  class="form-control" placeholder="-- Seleccione --" ng-disabled="true" required>
                        <option value="LPZ"> LA PAZ  </option>
                        <option value="ORU"> ORURO  </option>
                        <option value="PTS"> POTOSI  </option>
                        <option value="CBB"> COCHABAMBA  </option>
                        <option value="TJA"> TARIJA  </option>
                        <option value="CHQ"> CHUQUISACA  </option>
                        <option value="SCZ"> SANTA CRUZ  </option>
                        <option value="PND"> PANDO  </option>
                        <option value="BNI"> BENI  </option>
                        <option value="EXT"> EXTRANJERO  </option>
                    </select>
                </div>
            </div>

            <div class="hr-line-dashed"></div> 
            <div class="form-group"><label class="col-sm-2 control-label">Primer Nombre:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_pri_nom_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div> 

            <div class="form-group"><label class="col-sm-2 control-label">Segundo Nombre:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_seg_nom_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div> 

            <div class="form-group"><label class="col-sm-2 control-label">Tercer Nombre:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ter_nom_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div> 

            <div class="form-group"><label class="col-sm-2 control-label">Apellido Paterno:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_pat_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div> 

            <div class="form-group"><label class="col-sm-2 control-label">Apellido Materno:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_mat_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div> 

            <div class="form-group"><label class="col-sm-2 control-label">Apellido de Casada:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_cas_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div> 

            <div class="form-group"><label class="col-sm-2 control-label">Telefono:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_telef_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Celular:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cel_prop}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Correo Electronico:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_email_prop}}" class="form-control"></div>
            </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Identificación de la Empresa</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">NIT:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_doc_per_jur}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Razón Social:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_raz_soc_per_jur}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Datos del Representante Legal</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Documento:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_doc_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Numero de Documento:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_doc_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Expedido:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_expedido_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Primer Nombre:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_pri_nom_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Segundo Nombre:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_seg_nom_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Tercer Nombre:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ter_nom_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Apellido Paterno:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_pat_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

             <div class="form-group"><label class="col-sm-2 control-label">Apellido Materno:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_mat_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Apellido Casada:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_cas_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Teléfono Oficina:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_telef_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Celular:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cel_rep}}" class="form-control"></div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Correo Electrónico:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_email_rep}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Datos Técnicos de la Actividad Económica</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">NIT:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nit}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Denominación:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_raz_soc}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Superficie M2:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_sup}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Capacidad Aprox.:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cap_aprox}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Horario Inicio de Atención:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_de_hor}}" class="form-control"></div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Horario Fin de Atención:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_a_hor}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class='form-group' ><label class='col-sm-2 control-label'>Fecha de Inicio de la Actividad:</label>
                <div class='col-sm-10'><input class='form-control' type='text' disabled='' placeholder='{{datos.f01_fecha_ini_act}}'><br>
              </div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class="form-group"><label class="col-sm-2 control-label">El Establecimiento es:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_estab_es}}" class="form-control"></div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="ibox-title_2">
                <h5>Ubicación de la Actividad Económica</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Macrodistrito:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_macro_act_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Distrito:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_dist_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Zona:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_zona_act_descrip}}" class="form-control"></div>
            </div>

             <div class="form-group"><label class="col-sm-2 control-label">Tipo de Vía:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_via_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Nombre de Vía:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class='form-group' ><label class='col-sm-2 control-label'>Factor:</label>
                <div class='col-sm-10' align='left'><select id='f01_factor' name='f01_factor' ng-model='datos.f01_factor' required class='form-control' required></select>
              </div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class="form-group"><label class="col-sm-2 control-label">Numero:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_act1}}" class="form-control"></div>
            </div>

             <div class="form-group"><label class="col-sm-2 control-label">Edificio:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_edificio_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Bloque:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_bloque_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Piso:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_piso_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Dpto/OF/LOC:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_dpto_of_loc}}" class="form-control"></div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Teléfono:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tel_act1}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Casilla:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_casilla}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Cuenta Energía Eléctrica:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cod_luz}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Actividad</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_act}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Licencia:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tipo_lic_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Tipo de Categoria:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_categoria_agrupada_descripcion}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Actividad Desarrollada:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_categoria_descrip}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

             <div class="form-group"><label class="col-sm-2 control-label">Requisitos:</label>
                <div class="col-sm-10">
                    <table class="table table-striped "><tbody>
                        <tr ng-repeat="role in datosRequisitosActividadEconomica">
                            <td><div class="ngSelectionCell">
                                <input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="role.estado" ng-model="role.estado" ng-disabled="true"/></div></td>
                            <td>{{role.resvalor}}</td>                                
                        </tr></tbody>
                    </table>
                </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="ibox-title_2">
                <h5>Informe de antecedentes:</h5>
            </div>
    
            <div class='hr-line-dashed'></div>
            <div class="ibox-title_2">
                <h5>Asignacion de Inspector y Programacion de Inspección:</h5>
            </div>
            
            <div class='form-group'><label class='col-sm-2 control-label'>Nombre del Inpector Integral:</label>
                <div class='col-sm-10'><input type='text' disabled='' placeholder='{{datos.f02_nom_ins}}'><br>
                </div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> Fecha de Inspección:</label>
                <div class="col-sm-10">
                    <p class="input-group"><input name="f02_fech_insp" id="f02_fech_insp" type="text" class="form-control" datepicker-popup="" ng-model="datos.f02_fech_insp" is-open="startDateOpened" ng-required="true" close-text="Close" ng-disabled="desabilitado"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span></p>
                </div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class="ibox-title_2">
                <h5>Condiciones generales:</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Requisitos Tecnicos:</label>
                <div class="col-sm-10"><input type="text" placeholder="{{datos.f01_requisitos_tecnicos}}" class="form-control"></div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class="ibox-title_2">
                <h5>Inspeccion y Elaboracion de Recomendacion Inspector Integral:</h5>
            </div>

              <div class="form-group"><label class="col-sm-2 control-label">Resultado de la inspeccion: <small class="m-l-sm" style="color: red">*</small></label>
                <div class="col-sm-10">
                    <select id="f03_resultado_inspeccion" name="f03_resultado_inspeccion" ng-model="datos.f03_resultado_inspeccion" class="form-control" required>
                        <option value="APROBADO">Aprobado</option>
                        <option value="OBSERVADO">Observado</option>
                    </select>
                    <span style="color:red" ng-show="formulario.f03_resultado_inspeccion.$invalid">
                        <span ng-show="formulario.f03_resultado_inspeccion.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div> 

             <div class="ibox-title_2">
                <h5>Elaboracion de Informe de Recomendacion</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Informe 1:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f03_inf_aprobado}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Elaboracion de Informe de Recomendacion</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Informe 2:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f03_inf_rechazo}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="ibox-title_2">
                <h5>Elaboracion de Informe de Recomendacion</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Informe 3:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f04_obs_insp}}" class="form-control"></div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class="ibox-title_2">
                <h5>Foliado y Descripción – Inspeccion</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Numero de Hojas Recibidas del Solicitante:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f04_hojas_recibidas}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Descripción:</label>
                <div class="col-sm-10">
                    <textarea id="f01_observaciones_i" name="f04_observaciones_i" ng-model="datos.f04_observaciones_i" class="form-control" required ng-disabled="true"></textarea>
                    <span style="color:red" ng-show="formulario.f04_observaciones_i.$invalid">
                        <span ng-show="formulario.f04_observaciones_i.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Elaboracion de Informe de Recomendacion:</h5>
            </div>
            <div class='hr-line-dashed'></div>
            <div class='form-group' ><label class='col-sm-2 control-label'>Resultado de la Inspeccion UAIA:</label>
                <div class='col-sm-10' align='left'><select id='f05_res_insp' name='f05_res_insp' ng-model='datos.f05_res_insp' required class='form-control' required></select>
              </div>
            </div>
            <div class='hr-line-dashed'></div>
            <div class="ibox-title_2">
                <h5>Resultado de la Inspeccion:</h5>
            </div>
            <div class='hr-line-dashed'></div>
                <div class='col-sm-10'>
                    <textarea id='f05_inf_apr' name='f05_inf_apr' ng-model='datos.f05_inf_apr' required class='form-control' required></textarea>
                </div>
            <div class='hr-line-dashed'></div>

            <div class="ibox-title_2">
                <h5>Resultado de la inspeccion:</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Inspeccion 1:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f05_inf_apr}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Resultado de la inspeccion</h5>
            </div>
             <div class="form-group"><label class="col-sm-2 control-label">Inspeccion 2:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f05_inf_rech}}" class="form-control"></div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="ibox-title_2">
                <h5>Resultado de la inspeccion</h5>
            </div>
             <div class="form-group"><label class="col-sm-2 control-label">Inspeccion 3:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f05_inf_obs}}" class="form-control"></div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="ibox-title_2">
                <h5>Elaboracion de informe de recomendacion</h5>
            </div>

             <div class="form-group"><label class="col-sm-2 control-label">Resultado de la inspeccion lab: <small class="m-l-sm" style="color: red">*</small></label>
                <div class="col-sm-10">
                    <select id="f06_res_insp" name="f06_res_insp" ng-model="datos.f06_res_insp" class="form-control" required>
                        <option value="APROBADO">Aprobado</option>
                        <option value="OBSERVADO">Observado</option>
                    </select>
                    <span style="color:red" ng-show="formulario.f06_res_insp.$invalid">
                        <span ng-show="formulario.f06_res_insp.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div> 
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Resultado de la inspeccion</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Inspeccion 1:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f06_inf_apr}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Resultado de la inspeccion</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Inspeccion 2:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f06_inf_apr}}" class="form-control"></div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="ibox-title_2">
                <h5>Resultado de la inspeccion</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Inspeccion 3:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f06_inf_apr}}" class="form-control"></div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class="ibox-title_2">
                <h5>Elaboracion de informe:</h5>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label"><font color="#FF0000" size="5px"> * </font> Fecha de Inspección:</label>
                <div class="col-sm-10">
                    <p class="input-group"><input name="f07_fech_insp_patr" id="f07_fech_insp_patr" type="text" class="form-control" datepicker-popup="" ng-model="datos.f07_fech_insp_patr" is-open="startDateOpened" ng-required="true" close-text="Close" ng-disabled="desabilitado"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span></p>
                </div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class="ibox-title_2">
                <h5>Archivo fotografico:</h5>
            </div>

            <div class='form-group' ><label class='col-sm-2 control-label'>Fotografias:</label>
                <div class='col-sm-10'><input type='text' disabled='' placeholder='{{datos.f07_fotos}}'><br>
               </div>
            </div>

            <div class='hr-line-dashed'></div>
                <div class='col-sm-10'><input type='text' disabled='' placeholder='{{datos.f07_fotos2}}'><br>
              </div>
            <div class='hr-line-dashed'></div>
                <div class='col-sm-10'><input type='text' disabled='' placeholder='{{datos.f07_fotos3}}'><br>
              </div>

            <div class='hr-line-dashed'></div>

            <div class="form-group"><label class="col-sm-2 control-label">Tecnico UDE:</label>
                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_link}}" class="form-control"></div>
            </div>
            <div class='hr-line-dashed'></div>
            <div class="ibox-title_2">
                <h5>Foliado y descripcion - UPTM:</h5>
            </div>

            <div class='form-group' ><label class='col-sm-2 control-label'>Numero de hojas adjuntas al tramite:</label>
                <div class='col-sm-10'><input type='text' disabled='' placeholder='{{datos.f07_hojas_recibidas}}'><br>
              </div>
            </div>

              <div class="form-group"><label class="col-sm-2 control-label">Descripcion:</label>
                <div class="col-sm-10">
                    <textarea id="f07_observaciones_i" name="f07_observaciones_i" ng-model="datos.f07_observaciones_i" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f07_observaciones_i.$invalid">
                        <span ng-show="formulario.f07_observaciones_i.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>

            <div class='hr-line-dashed'></div>
            <div class="ibox-title_2">
                <h5>Validacion Licencia de Funcionamiento/Informe:</h5>
            </div>
            <div class='form-group' ><label class='col-sm-2 control-label'>Resultado revision:</label>
                <div class='col-sm-10' align='left'>
                <select id='f75_firma' name='f75_firma' ng-model='datos.f75_firma' required class='form-control' required></select>
              </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Observaciones:</label>
                <div class="col-sm-10">
                    <textarea id="f75_observaciones" name="f75_observaciones" ng-model="datos.f75_observaciones" class="form-control" required></textarea>
                    <span style="color:red" ng-show="formulario.f75_observaciones.$invalid">
                        <span ng-show="formulario.f75_observaciones.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>

                          <!-- botones -->
            <a class="btn btn-primary" ng-disabled="false" ng-click="volver()">
                <i class="glyphicon fa fa-times"></i>
                 Cancelar
            </a>
            <a class="btn btn-primary" ng-click="cargarDatos(datos);guardarData(datos);" ng-disabled="false">
                <i class="glyphicon fa fa-save"></i>
                 Guardar / Continuar
            </a>
            <!-- botones -->
    </div>
</form>
</div>