<script>
function A50tecnicouaiaController($scope,  $rootScope, DreamFactory, CONFIG, sessionService) {
    

}
</script>
	<div  class="animated fadeInRight">
    <form class="form-horizontal">
    	 <div class="wrap" ng-controller="modificacion60" ng-init="getRequisitosActividadEconomica(datos.f01_requisitos_actividad_economica)">

    	   			 <div class="ibox-title_2">
                        <h5>Formulario de renovacion de licencia de funcionamiento</h5>
                    </div>


                    <div class="ibox-title_2">
                        <h5>Datos Generales</h5>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">PMC:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_pmc}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">ID actividad economica:</label>
	                <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_id_actividad_economica}}" class="form-control"></div>
		            </div>
		            <div class="hr-line-dashed"></div>

		            <div class="form-group"><label class="col-sm-2 control-label">Tipo de persona: <small class="m-l-sm" style="color: red">*</small></label>
		            <div class="col-sm-10">
		                <select id="f01_tipo_per" name="f01_tipo_per" ng-model="datos.f01_tipo_per" class="form-control" required>
		                    <option value="APROBADO">Aprobado</option>
		                    <option value="OBSERVADO">Observado</option>
		                </select>
		                <span style="color:red" ng-show="formulario.f01_tipo_per.$invalid">
		                    <span ng-show="formulario.f01_tipo_per.$error.required">Es requerido.
		                    </span>
		                </span>
		            </div>
			        </div> 
			        <div class="hr-line-dashed"></div>

        <div ng-show="datos.f01_tipo_per=='N'">

                    <div class="ibox-title_2">
                        <h5>Datos del contribuyente</h5>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">NIT:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nit_prop}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                     <div class="form-group"><label class="col-sm-2 control-label">Tipo de documento:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_doc_prop}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Numero de documento:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_dos_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Expedido:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_expedido_prop}}" class="form-control"></div>
		        	</div>

                    <div class="form-group"><label class="col-sm-2 control-label">Primer nombre:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_pri_nom_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Segundo nombre:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_seg_nom_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Tercer nombre:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ter_nom_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Apellido paterno:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_pat_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Apellido materno:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_mat_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Apellido de casada:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_cas_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Celular:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cel_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Telefono:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_telef_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>


                    <div class="form-group"><label class="col-sm-2 control-label">Correo electronico:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_email_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Casillal>
                		<div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_casilla}}" class="form-control"></div>
            		</div>
            		<div class="hr-line-dashed"></div>

                    <div class="ibox-title_2">
                        <h5>Direccion del contribuyente</h5>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Zona:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_zon_prop_descrip}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Zona:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_zon_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Tipo de via:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_via_prop}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Nombre de via:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nom_via_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Numero:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Nombre de edificio:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nom_edi_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Bloque:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_bloq_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Piso:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_piso_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Departamento:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_depa_prop}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Direccion detallada:</label>
                        <div class="col-sm-10">
                            <textarea id="f01_dir_det_prop" name="f01_dir_det_prop" ng-model="datos.f01_dir_det_prop" class="form-control" required></textarea>
                            <span style="color:red" ng-show="formulario.f01_dir_det_prop.$invalid">
                                <span ng-show="formulario.f01_dir_det_prop.$error.required">Es requerido.
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
        </div>

        <div ng-show="datos.f01_tipo_per=='J'">

                     <div class="ibox-title_2">
                        <h5>Identificacion de la empresa</h5>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">NIT:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_doc_per_jur}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Razon social:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_raz_soc_per_jur}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="ibox-title_2">
                        <h5>Datos del representante legal</h5>
                    </div>

                   <div class="form-group"><label class="col-sm-2 control-label">Tipo de documento:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_doc_rep}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Numero de documento:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_doc_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Expedido:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_expedido_rep}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Primer nombre:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_pri_nom_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Segundo nombre:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_seg_nom_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Tercer nombre:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ter_nom_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Apellido paterno:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_pat_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Apellido materno:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_mat_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Apellido casada:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ape_cas_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Telefono:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_telef_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Celular:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cel_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Correo electronico:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_email_rep}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Zona:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_zona_rep}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>ç

			        <div class="form-group"><label class="col-sm-2 control-label">Tipo de via:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tipo_viarep}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Nombre de via:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nom_via_rep}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>
			        <div class="form-group"><label class="col-sm-2 control-label">Numero:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_rep}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                     <div class="form-group"><label class="col-sm-2 control-label">Nº de poder notarial:<small class="m-l-sm" style="color: red"></small></label>
            		<div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_pod_leg}}" class="form-control"></div>
        			</div>
        			<div class="hr-line-dashed"></div>

        			<div class="form-group"><label class="col-sm-2 control-label">Gestion de vigencia del poder notarial:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_ges_vig_pod}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>ç

			         <div class="form-group"><label class="col-sm-2 control-label">Nº de notaria:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_not}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

        </div>

                     <div class="ibox-title_2">
                        <h5>Datos tecnicos de la actividad economica</h5>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">NIT:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nit}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Denominacion:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_raz_soc}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                       <div class="form-group"><label class="col-sm-2 control-label">Susursal:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_actividad_MatrSuc}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			         <div class="form-group"><label class="col-sm-2 control-label">Superficie M2:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_sup}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Capacidad aproximada:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cap_aprox}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                      <div class="form-group"><label class="col-sm-2 control-label">El establecimiento es:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_estab_es}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			         <div class="form-group"><label class="col-sm-2 control-label">Horario de inicio de atencion:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_de_hor}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>
			        <div class="form-group"><label class="col-sm-2 control-label">Horario de fin de atencion:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_a_hor}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Productos elaborados:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_productosElaborados}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Actividades secundarias:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_actividadesSecundarias}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                      <div class="form-group"><label class="col-sm-2 control-label">Codigo de zona:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_idCodigoZona}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Fecha de inio de la actividad:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_fecha_ini_act}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

                    <div class="ibox-title_2">
                        <h5>Ubicacion de la actividad economica</h5>
                    </div>

                    <div class="form-group"><label class="col-sm-2 control-label">Macrodistrito:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_macro_act_descrip}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Distrito:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_dist_act}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group"><label class="col-sm-2 control-label">Zona:<small class="m-l-sm" style="color: red"></small></label>
                        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_zona_act}}" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>

                  	<div class="form-group"><label class="col-sm-2 control-label">Tipo de via:<small class="m-l-sm" style="color: red"></small></label>
			        <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_via_act}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Nombre de via:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nom_via_act}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Numero:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_num_act}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Edificio:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_edificio_act}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Bloque:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_bloque_act}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Piso:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_piso_act}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">DPTO./OF./LOCAL:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_dpto_of_loc}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Telefono:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tel_act}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Cuenta energia electrica:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_cod_luz}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="ibox-title_2">
			            <h5>Clasificacion de la actividad economica</h5>
			        </div>

			       <div class="form-group"><label class="col-sm-2 control-label">Tipo de actividad: <small class="m-l-sm" style="color: red">*</small></label>
		            <div class="col-sm-10">
		                <select id="f01_tip_act_eco" name="f01_tip_act_eco" ng-model="datos.f01_tip_act_eco" class="form-control" required>
		                    <option value="APROBADO">Aprobado</option>
		                    <option value="OBSERVADO">Observado</option>
		                </select>
		                <span style="color:red" ng-show="formulario.f01_tip_act_eco.$invalid">
		                    <span ng-show="formulario.f01_tip_act_eco.$error.required">Es requerido.
		                    </span>
		                </span>
		            </div>
			        </div> 
			        <div class="hr-line-dashed"></div>

			          <div class="form-group"><label class="col-sm-2 control-label">Tipo de actividad:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tip_act_eco}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Tipo de licencia:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_tipo_lic_descrip}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Tipo de categoria:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_categoria_agrupada_descripcion}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Actividad desarrollada:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_categoria_descrip}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			         <div class="ibox-title_2">
			            <h5>Requisitos solicitados</h5>
			        </div>

			         <div class="ibox-title_2">
			            <h5>REVISION DE ANTECEDENTES</h5>
			        </div>

			        <div class="form-group"><label class="col-sm-2 control-label">La solicitud: <small class="m-l-sm" style="color: red">*</small></label>
		            <div class="col-sm-10">
		                <select id="f02_ant" name="f02_ant" ng-model="datos.f02_ant" class="form-control" required>
		                    <option value="APROBADO">Aprobado</option>
		                    <option value="OBSERVADO">Observado</option>
		                </select>
		                <span style="color:red" ng-show="formulario.f02_ant.$invalid">
		                    <span ng-show="formulario.f02_ant.$error.required">Es requerido.
		                    </span>
		                </span>
		            </div>
			        </div> 
			        <div class="hr-line-dashed"></div>

			        <div class="ibox-title_2">
			            <h5>Informe de antecedentes</h5>
			        </div>
			       
			    	<div class="ibox-title_2">
			            <h5>Asignacion de inspector y programacion de inspección</h5>
			        </div>

			        <div class="form-group"><label class="col-sm-2 control-label">Nombre del inpector integral:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f03_nom_inp_int}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Fecha de inspeccion:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f03_fec_de_ins}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			         <div class="ibox-title_2">
			            <h5>Programacion de inspeccion</h5>
			        </div>

			         <div class="form-group"><label class="col-sm-2 control-label">Fecha de inspeccion UAIA:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f05_fech_insp}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			    	<div class="ibox-title_2">
			            <h5>Programacion inspeccion</h5>
			        </div>

			        <div class="form-group"><label class="col-sm-2 control-label">Fecha de inspeccion LAB:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f06_fec_de_ins}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			    	<div class="ibox-title_2">
			            <h5>Condiciones necesarias para funcionamiento de la actividad</h5>
			        </div>

			    	<div class="ibox-title_2">
			            <h5>Inspeccion y elaboracion de recomendacion inspector integral</h5>
			        </div>

			        <div class="form-group"><label class="col-sm-2 control-label">Resultado de la inspeccion: <small class="m-l-sm" style="color: red">*</small></label>
			            <div class="col-sm-10">
			                <select id="f04_res_de_la_ins" name="f04_res_de_la_ins" ng-model="datos.f04_res_de_la_ins" class="form-control" required>
			                    <option value="APROBADO">Aprobado</option>
			                    <option value="OBSERVADO">Observado</option>
			                </select>
			                <span style="color:red" ng-show="formulario.f04_res_de_la_ins.$invalid">
			                    <span ng-show="formulario.f04_res_de_la_ins.$error.required">Es requerido.
			                    </span>
			                </span>
			            </div>
			        </div> 
			        <div class="hr-line-dashed"></div>

			    	<div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 1</h5>
			        </div>

			    	<div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 2</h5>
			        </div>

			    	<div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 3</h5>
			        </div>

			        <div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 4</h5>
			        </div>

			        <div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 5</h5>
			        </div>

			        <div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 6</h5>
			        </div>

			        <div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 7</h5>
			        </div>

			        <div class="ibox-title_2">
			            <h5>Folio y descripcion - UAIA</h5>
			        </div>

			        <div class="form-group"><label class="col-sm-2 control-label">Numero de hojas recibidas del tramite:<small class="m-l-sm" style="color: red"></small></label>
		            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f05_num_de_hoj}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>
			        <div class="form-group"><label class="col-sm-2 control-label">Descripcion:</label>
		            <div class="col-sm-10">
		                <textarea id="f05_des" name="f05_des" ng-model="datos.f05_des" class="form-control" required></textarea>
		                <span style="color:red" ng-show="formulario.f05_des.$invalid">
		                    <span ng-show="formulario.f05_des.$error.required">Es requerido.
		                    </span>
		                </span>
		            </div>
			        </div>
			        <div class="hr-line-dashed"></div>

			          <div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion</h5>
			        </div>
						    
			         <div class="form-group"><label class="col-sm-2 control-label">Resultado de la inspeccion LAB: <small class="m-l-sm" style="color: red">*</small></label>
		            <div class="col-sm-10">
		                <select id="f06_res_insp" name="f06_res_insp" ng-model="datos.f06_res_insp" class="form-control" required>
		                    <option value="APROBADO">Aprobado</option>
		                    <option value="OBSERVADO">Observado</option>
		                </select>
		                <span style="color:red" ng-show="formulario.f06_res_insp.$invalid">
		                    <span ng-show="formulario.f06_res_insp.$error.required">Es requerido.
		                    </span>
		                </span>
		            </div>
			        </div> 
			        <div class="hr-line-dashed"></div>

			          <div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 1</h5>
			        </div>

			          <div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 2</h5>
			        </div>

			        <div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 3</h5>
			        </div>

			        <div class="ibox-title_2">
			            <h5>Elaboracion de informe de recomendacion 4</h5>
			        </div>

			        <div class="ibox-title_2">
			            <h5>Foliado y descripcion- LAB</h5>
			        </div>

       
			        <div class="form-group"><label class="col-sm-2 control-label">Numero de hojas adjuntas al tramite:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f06_num_de_hoj}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>

			        <div class="form-group"><label class="col-sm-2 control-label">Descripcion:</label>
			            <div class="col-sm-10">
			                <textarea id="f06_des" name="f06_des" ng-model="datos.f06_des" class="form-control" required></textarea>
			                <span style="color:red" ng-show="formulario.f06_des.$invalid">
			                    <span ng-show="formulario.f06_des.$error.required">Es requerido.
			                    </span>
			                </span>
			            </div>
			        </div>
			        <div class="hr-line-dashed"></div>

			    	<div class="ibox-title_2">
			            <h5>Elaboracion de informe</h5>
			        </div>
			       
			    <div class="ibox-title_2">
			            <h5>Reporte fotografico</h5>
			        </div>
			        <div class="form-group"><label class="col-sm-2 control-label">Numero de hojas del tramite:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f07_num_de_hoj}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>
			        <div class="form-group"><label class="col-sm-2 control-label">Descripcion:</label>
			            <div class="col-sm-10">
			                <textarea id="f07_des" name="f07_des" ng-model="datos.f07_des" class="form-control" required></textarea>
			                <span style="color:red" ng-show="formulario.f07_des.$invalid">
			                    <span ng-show="formulario.f07_des.$error.required">Es requerido.
			                    </span>
			                </span>
			            </div>
			        </div>
			        <div class="hr-line-dashed"></div>
			    <div class="ibox-title_2">
			            <h5>Elaboracion de informe tecnico UDE</h5>
			        </div>
			        <div class="form-group"><label class="col-sm-2 control-label">La solicitud es: <small class="m-l-sm" style="color: red">*</small></label>
			            <div class="col-sm-10">
			                <select id="f04_res_solicitud_upaee" name="f04_res_solicitud_upaee" ng-model="datos.f04_res_solicitud_upaee" class="form-control" required>
			                    <option value="APROBADO">Aprobado</option>
			                    <option value="OBSERVADO">Observado</option>
			                </select>
			                <span style="color:red" ng-show="formulario.f04_res_solicitud_upaee.$invalid">
			                    <span ng-show="formulario.f04_res_solicitud_upaee.$error.required">Es requerido.
			                    </span>
			                </span>
			            </div>
			        </div> 
			        <div class="hr-line-dashed"></div>
			    <div class="ibox-title_2">
			            <h5>Solicitud aprobada</h5>
			        </div>
			        <div class="form-group"><label class="col-sm-2 control-label">NRO orden form 402:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_nro_orden}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>
			        <div class="form-group"><label class="col-sm-2 control-label">Fecha impresion:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_fecha_imp}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>
			        <div class="form-group"><label class="col-sm-2 control-label">Fecha vencimiento:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_fecha_fin_act}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>
			    <div class="ibox-title_2">
			            <h5>Informe de observacion o rechazo</h5>
			        </div>
			       
			    <div class="ibox-title_2">
			            <h5>Folio y descripcion - Renovacion de licencia</h5>
			        </div>
			        <div class="form-group"><label class="col-sm-2 control-label">Numero de hojas adjuntas al tramite:<small class="m-l-sm" style="color: red"></small></label>
			            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f08_hojas_recibidas}}" class="form-control"></div>
			        </div>
			        <div class="hr-line-dashed"></div>
			        <div class="form-group"><label class="col-sm-2 control-label">Descripcion:</label>
			            <div class="col-sm-10">
			                <textarea id="f08_observaciones_i" name="f08_observaciones_i" ng-model="datos.f08_observaciones_i" class="form-control" required></textarea>
			                <span style="color:red" ng-show="formulario.f08_observaciones_i.$invalid">
			                    <span ng-show="formulario.f08_observaciones_i.$error.required">Es requerido.
			                    </span>
			                </span>
			            </div>
			        </div>
			        <div class="hr-line-dashed"></div>
			    <div class="ibox-title_2">
			            <h5>Validacion lecencia de funcionamiento/informe</h5>
			        </div>
			        <div class="form-group"><label class="col-sm-2 control-label">Resultado revision: <small class="m-l-sm" style="color: red">*</small></label>
			            <div class="col-sm-10">
			                <select id="f85_firma" name="f85_firma" ng-model="datos.f85_firma" class="form-control" required>
			                    <option value="APROBADO">Aprobado</option>
			                    <option value="OBSERVADO">Observado</option>
			                </select>
			                <span style="color:red" ng-show="formulario.f85_firma.$invalid">
			                    <span ng-show="formulario.f85_firma.$error.required">Es requerido.
			                    </span>
			                </span>
			            </div>
			        </div> 
			        <div class="hr-line-dashed"></div>
			        <div class="form-group"><label class="col-sm-2 control-label">Observaciones:</label>
			            <div class="col-sm-10">
			                <textarea id="f85_observaciones" name="f85_observaciones" ng-model="datos.f85_observaciones" class="form-control" required></textarea>
			                <span style="color:red" ng-show="formulario.f85_observaciones.$invalid">
			                    <span ng-show="formulario.f85_observaciones.$error.required">Es requerido.
			                    </span>
			                </span>
			            </div>
			        </div>
			        <div class="hr-line-dashed"></div>
			    <div class="ibox-title_2">
			            <h5>Remision para coreccion</h5>
			        </div>
			            <div class="form-group"><label class="col-sm-2 control-label">ENVIO A LA UDE PARA CORRECCION DE LICENCIA:</label>
			                <div class="col-sm-10">
			                    <input type="checkbox" ng-model="datos.f11_correccion_impresion" ng-true-value="'SI'" ng-false-value="'NO'" /> SI
			                </div>
			            </div>
			            <div class="hr-line-dashed"></div>
        </div>
    </form>
</div>