<script>
function AE_RENOVACION_20($scope,  $rootScope, DreamFactory, CONFIG, sessionService) {
    

}
</script>

<div class="animated fadeInRight">
    <form class="form-horizontal">
      <div class="wrap" ng-controller="AE_RENOVACION_20" ng-init="">
        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Datos generales</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Pmc:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_num_pmc}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Id actividad economica:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_id_actividad_economica}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Persona:</label>
            <div class="col-sm-10"  ng-switch on="datos.f01_tipo_per">
                <div class="animate-switch" ng-switch-when="N">
                    <input type="text" disabled="" value="NATURAL" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                </div>
                <div class="animate-switch" ng-switch-when="J">
                    <input type="text" disabled="" value="JURIDICO" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                </div>
                
            </div>                
        </div>
        <div class='hr-line-dashed'></div>
        <div ng-show="datos.f01_tipo_per=='N'">

          <div class='ibox-title_2'>
              <h5><small class='m-l-sm'>Datos del contribuyente</small></h5>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Nit:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_nit_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Tipo de documento:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_tip_doc_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Numero de documento:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_num_dos_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class="form-group"><label class="col-sm-2 control-label">Expedido:</label>
              <div class="col-sm-10">
                  <select id="f01_expedido_prop" name="f01_expedido_prop"  ng-model="datos.f01_expedido_prop"  class="form-control" placeholder="-- Seleccione --" ng-disabled="true" required>
                      <option value="LPZ"> LA PAZ  </option>
                      <option value="ORU"> ORURO  </option>
                      <option value="PTS"> POTOSI  </option>
                      <option value="CBB"> COCHABAMBA  </option>
                      <option value="TJA"> TARIJA  </option>
                      <option value="CHQ"> CHUQUISACA  </option>
                      <option value="SCZ"> SANTA CRUZ  </option>
                      <option value="PND"> PANDO  </option>
                      <option value="BNI"> BENI  </option>
                      <option value="EXT"> EXTRANJERO  </option>
                  </select>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Primer nombre:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_pri_nom_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Segundo nombre:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_seg_nom_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Tercer nombre:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_ter_nom_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Apellido paterno:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_ape_pat_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Apellido materno:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_ape_mat_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Apellido de casada:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_ape_cas_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Celular:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_cel_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Telefono:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_telef_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Correo electronico:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_email_prop}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Casilla:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_casilla}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>
        </div>
        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Direccion del contribuyente</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Zona:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_zon_prop}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de via:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tip_via_prop}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Nombre de via:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_nom_via_prop}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Numero:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_num_prop}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Nombre de edificio:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_nom_edi_prop}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Bloque:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_bloq_prop}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Piso:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_piso_prop}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Departamento:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_depa_prop}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Direccion detallada:</label>
            <div class='col-sm-10'>
                <textarea id='f01_dir_det_prop' name='f01_dir_det_prop' ng-model='datos.f01_dir_det_prop' required class='form-control' required></textarea>
                <span style="color:red" ng-show="formulario.f01_dir_det_prop.$invalid">
                        <span ng-show="formulario.f01_dir_det_prop.$error.required">Es requerido.
                        </span>
                    </span>
            </div>
        </div>
        <div class='hr-line-dashed'></div>
        <div ng-show="datos.f01_tipo_per=='J'">
          <div class='ibox-title_2'>
              <h5><small class='m-l-sm'>Identificacion de la empresa</small></h5>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Nit:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_num_doc_per_jur}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Razon social:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_raz_soc_per_jur}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='ibox-title_2'>
              <h5><small class='m-l-sm'>Datos del representante legal</small></h5>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Tipo de documento:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_tip_doc_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Numero de documento:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_num_doc_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Expedido:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_expedido_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Primer nombre:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_pri_nom_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Segundo nombre:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_seg_nom_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Tercer nombre:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_ter_nom_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Apellido paterno:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_ape_pat_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Apellido materno:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_ape_mat_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Apellido de casada:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_ape_cas_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Telefono:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_telef_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Celular:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_cel_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Correo electronico:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_email_rep}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Nº de poder notarial:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_num_pod_leg}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Gestion de vigencia del poder notarial:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_ges_vig_pod}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>

          <div class='form-group' >
              <label class='col-sm-2 control-label'>Nº de notaria:</label>
              <div class='col-sm-10'>
                  <input type='text' disabled='' placeholder='{{datos.f01_num_not}}'><br>
              </div>
          </div>
          <div class='hr-line-dashed'></div>
        </div>
        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Datos tecnicos de la actividad economica</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Nit:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_nit}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Denominacion:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_raz_soc}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Sucursal:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_num_actividad_MatrSuc}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Superficie m2:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_sup}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Capacidad aproximada:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_cap_aprox}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class="form-group"><label class="col-sm-2 control-label">El Establecimiento es:</label>
            <div class="col-sm-10"><input type="text" disabled="" placeholder="{{datos.f01_estab_es}}" class="form-control"></div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Horario de inicio de atencion:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_de_hor}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Horario de fin de atencion:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_a_hor}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Productos elaborados:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_productosElaborados}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Actividades secundarias:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_actividadesSecundarias}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Fecha de inicio de la actividad:</label>
            <div class='col-sm-10'>
                <input class='form-control' type='text' disabled='' placeholder='{{datos.f01_fecha_ini_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Ubicación de la actividad economica</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Macrodistrito:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_macro_act_descrip}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Distrito:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_dist_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Zona:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_zona_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de via:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tip_via_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Nombre de via:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_nom_via_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Numero:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_num_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Edificio:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_edificio_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Bloque:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_bloque_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Piso:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_piso_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Dpto./of./local:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_dpto_of_loc}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Telefono:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tel_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Cuenta energia electrica:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_cod_luz}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Clasificacion de la actividad economica</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de actividad:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tip_act_eco}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de licencia:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tipo_lic_descrip}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de categoria:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_categoria_agrupada_descripcion}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Actividad desarrollada:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_categoria_descrip}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Requisitos solicitados</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <input id='f01_req_doc' name='f01_req_doc' class='form-control' type='checkbox'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Foliado y descripcion - filiacion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Numero de hojas recibidas del tramite:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_hojas_recibidas}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class="form-group"><label class="col-sm-2 control-label">Descripción:</label>
            <div class="col-sm-10">
                <textarea id="f01_observaciones_i" name="f01_observaciones_i" ng-model="datos.f01_observaciones_i" class="form-control" required ng-disabled="true"></textarea>
                <span style="color:red" ng-show="formulario.f01_observaciones_i.$invalid">
                    <span ng-show="formulario.f01_observaciones_i.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Revision de antecedentes</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>La solicitud:</label>
            <div class='col-sm-10' align='left'>
            <select id='ant' name='ant' ng-model='datos.ant' required class='form-control' required></select>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Informe de antecedentes</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='inf_apr' name='inf_apr' ng-model='datos.inf_apr' required class='form-control' required></textarea>
                <span style="color:red" ng-show="formulario.inf_apr.$invalid">
                    <span ng-show="formulario.inf_apr.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Informe de antecedentes</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='inf_obs' name='inf_obs' ng-model='datos.inf_obs' required class='form-control' required></textarea>
                <span style="color:red" ng-show="formulario.inf_obs.$invalid">
                    <span ng-show="formulario.inf_obs.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Informe de antecedentes</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='inf_rech' name='inf_rech' ng-model='datos.inf_rech' required class='form-control' required></textarea>
                <span style="color:red" ng-show="formulario.inf_rech.$invalid">
                    <span ng-show="formulario.inf_rech.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Datos tecnico correspondiente</small></h5>
        </div>
        <div class='hr-line-dashed'></div>
        <div class="form-group"><label class="col-sm-2 control-label">Tecnico:</label>
            <div class="col-sm-10">
                <select id="tec_ulab_upaz" name="tec_ulab_upaz"  ng-model="datos.tec_ulab_upaz"  class="form-control" placeholder="-- Seleccione --" ng-disabled="true" required>
                    <option value="TECNICO1"> TECNICO 1</option>
                    <option value="TECNICO2"> TECNICO 2</option>
                    <option value="TECNICO3"> TECNICO 3</option>
                    
                </select>
            </div>
        </div>

        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Foliado y descripcion - antecedentes</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Numero de hojas recibidas del tramite:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.num_de_hoj}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Descripcion:</label>
            <div class='col-sm-10'>
                <textarea id='des' name='des' ng-model='datos.des' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Nota.- solo imprimir el informe en caso de que el tramite sea "no procedente"</small></h5>
        </div>
        <div class='hr-line-dashed'></div>
        </div>
    </form>
</div>