<script type="text/javascript">
            // When the document is ready
      function conMayusculas(field) {
        field.value = field.value.toUpperCase()
      };
      //*** Este Codigo permite Validar que sea un campo Numerico
            function soloNumerico(variable){
                Numer=parseInt(variable);
                if (isNaN(Numer)){
                    return "";
                }
                return Numer;
            }
            function valNumero(Control){
                Control.value=soloNumerico(Control.value);
            }
            //*** Fin del Codigo para Validar que sea un campo Numerico
</script>



<div  class="col-md-12" ng-controller="equiposController" data-ng-init="inicioEquipos()">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Espacios de trabajo</h5>

                <div ibox-tools></div>
                    <div class="botones_inspinia_lmc">
                        <a class="btn btn-primary" ng-click="limpiar()" data-toggle="modal" data-target="#registro"><i class="glyphicon glyphicon-plus-sign"></i>Nuevo Espacio</a>
                    </div>
            </div>
            <div class="ibox-content">
                <table ng-table="tablaEquipos" show-filter="true" class="table table-striped">
                    <tr ng-repeat="equipo in $data" ng-class="{'colorInactivo': equipo.wsest == 'INACTIVO'}">
                        <td align="center" data-title="'Opciones'" style="width: 80px;">
                            <a class="btn btn-info btn-circle" data-toggle="modal" data-target="#registro" ng-click="modificarEquipoCargar(equipo)"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-info btn-circle" onclick="" data-toggle="modal" data-target="#registro" ng-click="eliminarEquipoCargar(equipo)"><i class="fa fa-trash-o"></i></a>
                        </td>
                        <!--td data-title="'ID'">{{equipo.rlsId}}</td-->
                        <td data-title="'Espacio de Trabajo'" sortable="'wsnombre'" filter="{'wsnombre':'text'}">{{equipo.wsnombre}}</td>
                        <td data-title="'Registrado'" sortable="'wsregistrado'" filter="{'wsregistrado':'text'}">{{equipo.wsregistrado}}</td>
                        <td data-title="'Modificado'" sortable="'wsmodificado'" filter="{'wsmodificado':'text'}">{{equipo.wsmodificado}}</td>
                        <td data-title="'Estado'" sortable="'wsest'" filter="{'wsest':'text'}">{{equipo.wsest}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
                </div>
                <div class="modal-body" >
                    <form name="formularioEquipos" novalidate>
                        <div class="form-group">
                            <label for="url" >Espacio de Trabajo:</label>
                            <div class="controls">
                                <input  ng-value="&nbsp;" ng-model="datosEquipo.wsnombre" name="wsnombre" id="wsnombre" class="form-control" type="text" placeholder="ingrese nombre de equipo" ng-disabled="only" ng-required="true" onkeyUp="return conMayusculas(this)">
                                <span style="color:red" ng-show="formularioEquipos.wsnombre.$invalid">
                                    <span ng-show="formularioEquipos.wsnombre.$error.required">Espacio de Trabajo es requerido.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button data-dismiss="modal" ng-click="adicionarEquipo(datosEquipo)" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'" ng-disabled="formularioEquipos.wsnombre.$invalid">Guardar</button>
                    <button ng-click="modificarEquipo(datosEquipo.wsid,datosEquipo)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioEquipos.wsnombre.$invalid">Modificar</button>
                    <button ng-click="eliminarEquipo(datosEquipo.wsid)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>