<script>
function emisionPLA20($scope,  $rootScope, DreamFactory, CONFIG, sessionService) {
    $scope.getRequisitosActividadEconomica = function(lista){
        //console.log("listasdoss",lista);
        $rootScope.datosRequisitosActividadEconomica= lista;
    }


}
</script>

<div class="animated fadeInRight" ng-init="getListaDesignados(datos.INT_AC_MACRO_ID)">
    <form class="form-horizontal">
        <div class="wrap" ng-controller="emisionPLA20" ng-init="getRequisitosActividadEconomica(datos.f01_requisitos_actividad_economica)">
        
        <div class='ibox-title_2'>
            <h5>Formulario de solicitud de licencia de funcionamiento<small class='m-l-sm'>Emision de licencia de funcionamiento</small>
            </h5>
        </div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Pmc:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_num_pmc}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class="form-group"><label class="col-sm-2 control-label">Tipo de Persona:</label>
            <div class="col-sm-10"  ng-switch on="datos.f01_tipo_per">
                <div class="animate-switch" ng-switch-when="N">
                    <input type="text" disabled="" value="NATURAL" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                </div>
                <div class="animate-switch" ng-switch-when="J">
                    <input type="text" disabled="" value="JURIDICO" id="datos.f01_tipo_per" name="datos.f01_tipo_per" placeholder="{{datos.f01_tipo_per}}" class="form-control">
                </div>
                
            </div>                
        </div>
        <div class='hr-line-dashed'></div>

        <div ng-show="datos.f01_tipo_per=='N'">
            <div class='ibox-title_2'>
                <h5><small class='m-l-sm'>Datos del contribuyente</small></h5>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Nit:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_nit_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Tipo de documento:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_tip_doc_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Numero de documento:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_num_dos_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class="form-group"><label class="col-sm-2 control-label">Expedido:</label>
                <div class="col-sm-10">
                    <select id="f01_expedido_prop" name="f01_expedido_prop"  ng-model="datos.f01_expedido_prop"  class="form-control" placeholder="-- Seleccione --" ng-disabled="true" required>
                        <option value="LPZ"> LA PAZ  </option>
                        <option value="ORU"> ORURO  </option>
                        <option value="PTS"> POTOSI  </option>
                        <option value="CBB"> COCHABAMBA  </option>
                        <option value="TJA"> TARIJA  </option>
                        <option value="CHQ"> CHUQUISACA  </option>
                        <option value="SCZ"> SANTA CRUZ  </option>
                        <option value="PND"> PANDO  </option>
                        <option value="BNI"> BENI  </option>
                        <option value="EXT"> EXTRANJERO  </option>
                    </select>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Primer nombre:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_pri_nom_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Segundo nombre:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_seg_nom_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Tercer nombre:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_ter_nom_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Apellido paterno:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_ape_pat_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Apellido materno:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_ape_mat_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Apellido de casada:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_ape_cas_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Nacionalidad:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_nac_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Fecha de nacimiento:</label>
                <div class='col-sm-10'>
                    <input class='form-control' type='text' disabled='' placeholder='{{datos.f01_fecha_nac}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Telefono:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_telef_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Celular:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_cel_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Correo electronico:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_email_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='ibox-title_2'>
                <h5><small class='m-l-sm'>Direccion del contribuyente</small></h5>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Zona:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_zon_prop_descrip}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Tipo de via:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_tip_via_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Nombre de via:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_nom_via_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Numero domicilio:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_num_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Nombre del edificio:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_nom_edi_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Bloque:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_bloq_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Piso:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_piso_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Dpto./of./local:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_depa_prop}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Direccion detallada:</label>
                <div class='col-sm-10'>
                    <textarea id='f01_dir_det_prop' name='f01_dir_det_prop' ng-model='datos.f01_dir_det_prop' required class='form-control' required></textarea>
                </div>
            </div>
            <div class='hr-line-dashed'></div>
        </div>
        <div ng-show="datos.f01_tipo_per=='J'">
            <div class='ibox-title_2'>
                <h5><small class='m-l-sm'>Identificacion de la empresa</small></h5>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Nit:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_num_doc_per_jur}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Razon social:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_raz_soc_per_jur}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='ibox-title_2'>
                <h5><small class='m-l-sm'>Datos del representante legal</small></h5>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Tipo de documento:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_tip_doc_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Numero de documento:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_num_doc_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Expedido:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_expedido_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Primer nombre:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_pri_nom_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Segundo nombre:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_seg_nom_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Tercer nombre:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_ter_nom_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Apellido paterno:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_ape_pat_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Apellido materno:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_ape_mat_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Apellido casada:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_ape_cas_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Telefono oficina:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_telef_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Celular:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_cel_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Correo electronico:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_email_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Zona:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_zona_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Tipo de via:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_tipo_viarep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Nombre de via:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_nom_via_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Numero:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_num_rep}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Gestion de vigencia del poder legal:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_ges_vig_pod}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Numero poder legal:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_num_pod_leg}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>

            <div class='form-group' >
                <label class='col-sm-2 control-label'>Numero notaria:</label>
                <div class='col-sm-10'>
                    <input type='text' disabled='' placeholder='{{datos.f01_num_not}}'><br>
                </div>
            </div>
            <div class='hr-line-dashed'></div>
        </div>
        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Datos tecnicos de la actividad economica</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Nit:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_nit}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Denominacion:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_raz_soc}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Sucursal:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_num_actividad_MatrSuc}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Superficie m2:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_sup}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Capacidad aprox:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_cap_aprox}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Horario inicio de atencion:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_de_hor}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Horario fin de atencion:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_a_hor}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Fecha de inicio de la actividad:</label>
            <div class='col-sm-10'>
                <input class='form-control' type='text' disabled='' placeholder='{{datos.f01_fecha_ini_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>El establecimiento es::</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_estab_es}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Productos elaborados:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_productosElaborados}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Actividades secundarias:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_actividadesSecundarias}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Codigo de zona:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_idCodigoZona}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Ubicacion de la actividad economica</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Macrodistrito:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_macro_act_descrip}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Distrito:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_dist_act_descrip}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Zona:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_zona_act_descrip}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de via:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tip_via_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Nombre de via:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_num_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Factor:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_factor}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Numero:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_num_act1}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Edificio:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_edificio_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Bloque:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_bloque_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Piso:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_piso_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Dpto/of/loc::</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_dpto_of_loc}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Telefono:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tel_act1}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Casilla:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_casilla}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Cuenta energia electrica:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_cod_luz}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de actividad:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tip_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de licencia:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_tipo_lic_descrip}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Tipo de categoria:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_categoria_agrupada_descripcion}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Actividad desarrollada:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_categoria_descrip}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Requisitos generales</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class="form-group"><label class="col-sm-2 control-label">Requisitos:</label>
            <div class="col-sm-10">
                <table class="table table-striped "><tbody>
                    <tr ng-repeat="role in datosRequisitosActividadEconomica">
                        <td><div class="ngSelectionCell">
                            <input tabindex="-1" class="ngSelectionCheckbox" type="checkbox" ng-checked="role.estado" ng-model="role.estado" ng-disabled="true"/></div></td>
                        <td>{{role.resvalor}}</td>                                
                    </tr></tbody>
                </table>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        
        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Verificacion de antecedentes</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class="form-group"><label class="col-sm-2 control-label">La Solicitud:</label>
            <div class="col-sm-10">
                <select id="f02_la_sol_proced" name="f02_la_sol_proced" class="form-control"  ng-model="datos.f02_la_sol_proced" >
                     <option value="PROCEDE">PROCEDE</option>
                    <option value="OBSERVADO">OBSERVADO</option>
                    <option value="RECHAZADO">RECHAZADO</option>
                </select>
                <span style="color:red" ng-show="formulario.f02_la_sol_proced.$invalid">
                    <span ng-show="formulario.f02_la_sol_proced.$error.required">Es requerido.
                    </span>
                </span>
            </div>
        </div>
        <div class='hr-line-dashed'></div>
        
        <div ng-show="datos.f02_la_sol_proced=='PROCEDE1'">
            <div class="form-group"><label class="col-sm-2 control-label">Informe {{datos.f02_la_sol_proced}}:</label>
                <div class="col-sm-10">
                    <textarea id="f02_info" name="f02_info" ng-model="datos.f02_info" class="form-control" required ></textarea>
                    <span style="color:red" ng-show="formulario.f02_info.$invalid">
                        <span ng-show="formulario.f02_info.$error.required">Es requerido.
                        </span>
                    </span>                    
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        </div>

        <div ng-show="datos.f02_la_sol_proced=='OBSERVADO'">
            <div class="ibox-title_2">
                <h5>Informe de Antecedentes</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Informe {{datos.f02_la_sol_proced}}:</label>
                <div class="col-sm-10">
                    <textarea id="f02_info2" name="f02_info2" ng-model="datos.f02_info2" class="form-control" required ></textarea>
                    <span style="color:red" ng-show="formulario.f02_info2.$invalid">
                        <span ng-show="formulario.f02_info2.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        </div>

        <div ng-show="datos.f02_la_sol_proced=='RECHAZADO'">
            <div class="ibox-title_2">
                <h5>Informe de Antecedentes</h5>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Informe {{datos.f02_la_sol_proced}}:</label>
                <div class="col-sm-10">
                    <textarea id="f02_info3" name="f02_info3" ng-model="datos.f02_info3" class="form-control" required ></textarea>
                    <span style="color:red" ng-show="formulario.f02_info3.$invalid">
                        <span ng-show="formulario.f02_info3.$error.required">Es requerido.
                        </span>
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        </div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Asignacion de inspector y programacion de inspección</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Nombre del inpector integral:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f02_nom_ins}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Fecha de inspeccion:</label>
            <div class='col-sm-10'>
                <input class='form-control' type='text' disabled='' placeholder='{{datos.f02_fech_insp}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Condiciones generales</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <input id='f01_requisitos_tecnicos' name='f01_requisitos_tecnicos' class='form-control' type='checkbox'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Productos elaborados/comercializados:</label>
            <div class='col-sm-10'>
                <textarea id='f04_prod_elab_comer' name='f04_prod_elab_comer' ng-model='datos.f04_prod_elab_comer' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Se realizo reinspeccion?:</label>
            <div class='col-sm-10'>
                <input id='f04_verif_insp' name='f04_verif_insp' class='form-control' type='checkbox'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Se realizo reinspeccion?:</label>
            <div class='col-sm-10'>
                <input id='f04_verif_insp2' name='f04_verif_insp2' class='form-control' type='checkbox'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Se realizo reinspeccion?:</label>
            <div class='col-sm-10'>
                <input id='f04_verif_insp3' name='f04_verif_insp3' class='form-control' type='checkbox'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Datos reinspeccion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Fecha:</label>
            <div class='col-sm-10'>
                <input class='form-control' type='text' disabled='' placeholder='{{datos.f04_fecha_reinsp}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Observaciones:</label>
            <div class='col-sm-10'>
                <textarea id='f04_obs_reinsp' name='f04_obs_reinsp' ng-model='datos.f04_obs_reinsp' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Inspeccion y elaboracion de recomendacion inspector integral</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Resultado de la inspeccion:</label>
            <div class='col-sm-10' align='left'>
          	<select id='f03_resultado_inspeccion' name='f03_resultado_inspeccion' ng-model='datos.f03_resultado_inspeccion' required class='form-control' required></select>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Elaboracion de informe de recomendacion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f03_inf_aprobado' name='f03_inf_aprobado' ng-model='datos.f03_inf_aprobado' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Elaboracion de informe de recomendacion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f04_obs_insp' name='f04_obs_insp' ng-model='datos.f04_obs_insp' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Elaboracion de informe de recomendacion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Resultado de la inspeccion uaia:</label>
            <div class='col-sm-10' align='left'>
          	<select id='f05_res_insp' name='f05_res_insp' ng-model='datos.f05_res_insp' required class='form-control' required></select>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Resultado de la inspeccion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f05_inf_apr' name='f05_inf_apr' ng-model='datos.f05_inf_apr' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Resultado de la inspeccion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f05_inf_rech' name='f05_inf_rech' ng-model='datos.f05_inf_rech' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Resultado de la inspeccion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f05_inf_obs' name='f05_inf_obs' ng-model='datos.f05_inf_obs' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Elaboracion de informe de recomendacion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Resultado de la inspeccion lab:</label>
            <div class='col-sm-10' align='left'>
          	<select id='f06_res_insp' name='f06_res_insp' ng-model='datos.f06_res_insp' required class='form-control' required></select>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Resultado de la inspeccion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f06_inf_apr' name='f06_inf_apr' ng-model='datos.f06_inf_apr' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Resultado de la inspeccion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f06_inf_rech' name='f06_inf_rech' ng-model='datos.f06_inf_rech' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Resultado de la inspeccion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f06_inf_obs' name='f06_inf_obs' ng-model='datos.f06_inf_obs' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Elaboracion de informe</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f07_ela_de_inf_apb' name='f07_ela_de_inf_apb' ng-model='datos.f07_ela_de_inf_apb' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Archivo fotografico</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Fotografias:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f07_fotos}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f07_fotos2}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f07_fotos3}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Elaboracion de informe tecnico ude</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>La solicitud es ::</label>
            <div class='col-sm-10' align='left'>
          	<select id='f04_res_solicitud_upaee' name='f04_res_solicitud_upaee' ng-model='datos.f04_res_solicitud_upaee' required class='form-control' required></select>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Solicitud aprobada</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Nro orden form 402:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_nro_orden}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Fecha emision:</label>
            <div class='col-sm-10'>
                <input class='form-control' type='text' disabled='' placeholder='{{datos.f01_fecha_imp}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Fecha vencimiento:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f01_fecha_fin_act}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Informe correspondiente</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f04_res_inf_rech' name='f04_res_inf_rech' ng-model='datos.f04_res_inf_rech' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Foliado y descripcion - emision de licencia</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Numero de hojas adjuntas al tramite:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f08_hojas_recibidas}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Descripcion:</label>
            <div class='col-sm-10'>
                <textarea id='f08_observaciones_i' name='f08_observaciones_i' ng-model='datos.f08_observaciones_i' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Resolucion administrativa</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'></label>
            <div class='col-sm-10'>
                <textarea id='f05_res_adm' name='f05_res_adm' ng-model='datos.f05_res_adm' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Foliado y descripcion - resolucion</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Numero de hojas adjuntas al tramite:</label>
            <div class='col-sm-10'>
                <input type='text' disabled='' placeholder='{{datos.f09_hojas_recibidas}}'><br>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Descripcion:</label>
            <div class='col-sm-10'>
                <textarea id='f09_observaciones_i' name='f09_observaciones_i' ng-model='datos.f09_observaciones_i' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='ibox-title_2'>
            <h5><small class='m-l-sm'>Validacion licencia de funcionamiento/resolucion administrativa</small></h5>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Resultado revision:</label>
            <div class='col-sm-10' align='left'>
          	<select id='f95_firma' name='f95_firma' ng-model='datos.f95_firma' required class='form-control' required></select>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

        <div class='form-group' >
            <label class='col-sm-2 control-label'>Observaciones:</label>
            <div class='col-sm-10'>
                <textarea id='f95_observaciones' name='f95_observaciones' ng-model='datos.f95_observaciones' required class='form-control' required></textarea>
            </div>
        </div>
        <div class='hr-line-dashed'></div>

         <!-- botones -->
            <a class="btn btn-primary" ng-disabled="false" ng-click="volver()">
                <i class="glyphicon fa fa-times"></i>
                 Cancelar
            </a>
            <a class="btn btn-primary" ng-click="cargarDatos(datos);guardarData(datos);" ng-disabled="false">
                <i class="glyphicon fa fa-save"></i>
                 Guardar / Continuar
            </a>
        <!-- botones -->
        </div>
    </form>
</div>        

