
 <script type="text/javascript">
     function conMayusculas(field) {
             field.value = field.value.toUpperCase()
     }
 </script>
<div ng-controller="sectorController" data-ng-init="inicioSector()" class="row">
 <div class="col-lg-12">
         <div class="ibox float-e-margins">
             <div class="ibox-title">
                 <h5>Sectores</h5>
                 <div ibox-tools></div>

                     <div class="botones_inspinia_lmc">
                         <a class="btn btn-primary" ng-click="limpiar()" data-toggle="modal" data-target="#registro"><i class="glyphicon glyphicon-plus-sign" ng-disabled="desabilitado"></i> Nuevo Sector</a>
                     </div>
             </div>
             <div class="ibox-content">
               <div class="col-md-2">
                   <div class="form-group" >
                       <label for="url">AÑO</label>

                           <select ng-model="datosSector.fecan" ng-change="getSectores(datosSector.fecan)" name="fecan" id="fecan" class="form-control">
                               <option ng-repeat="sectordata in fecan"  value="{{sectordata.dag_s_gestion}}">{{sectordata.dag_s_gestion}}</option>
                           </select>

                   </div>
               </div>
               <table ng-table="tablaGrupos"  format-fn="colorCellFormat"  show-filter="true"  class="table table-striped"  >
                 <tr ng-repeat="sectores in $data" ng-class="{'colorInactivo': sectores.sec_estado == 'I', 'colorBloqueado': sectores.sec_estado == 'BLOQUEADO'}" >


                   <td align="center" data-title="'Opciones'" style="width: 80px;">
                     <div  ng-if = "sectores.sec_gestion!='2017'">
                       <a class="btn btn-info btn-circle" ><i class="fa   fa-close "></i> </a>
                       <a  class="btn btn-info btn-circle" ><i class="fa  fa-close "></i></a>
                     </div>

                     <div ng-if = "sectores.sec_gestion=='2017'">
                       <a ng-click="modificarGrupoCargar(sectores)" class="btn btn-info btn-circle" data-toggle="modal" data-target="#registro"><i class="fa   fa-pencil "></i> </a>
                       <a ng-click="eliminarGrupoCargar(sectores)"  class="btn btn-info btn-circle"  data-toggle="modal" data-target="#registro"><i class="fa  fa-trash-o "></i></a>
                     </div>
                   </td>

                   <td data-title="'Año'" filter="{'sec_gestion':'text'}">{{sectores.sec_gestion}}</td>
                   <td data-title="'Codigo'" filter="{'dag':'text'}">{{sectores.dag}}</td>
                   <td data-title="'Descripcion'" filter="{'descripcion':'text'}">{{sectores.descripcion}}</td>
                   <td data-title="'Estado'" filter="{'estado':'text'}">{{sectores.estado}}</td>

                 </tr>
               </table>
             </div>
         </div>
 </div>
<!-- modal -->
<div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
       <h4 class="modal-title" id="myModalLabel">{{titulo}}  </h4>
       </div>
       <div class="modal-body" >
         <form name="formularioGrupos"  readOnly="true" novalidate >
           <div class="row">
             <div class="col-md-13">
               <div class="form-group">
                 <label for="title">Nombre de Sector</label>
                 <div class="controls">
                 <input  ng-model="datosSector.idsctor"  onChange="conMayusculas(this)"  id="idsctor" name="idsctor" class="form-control" type="text" placeholder="Ingrese Id" ng-disabled="desabilitado" required>
                 <br>
                 <input  ng-model="datosSector.sctSctor"  onChange="conMayusculas(this)"  id="grpGrupo" name="grpGrupo" class="form-control" type="text" placeholder="ingrese nombres" ng-disabled="desabilitado" required>
                 <span style="color:red" ng-show="formularioGrupos.grpGrupo.$invalid">
                 <span ng-show="formularioGrupos.grpGrupo.$error.required">el campo es requerido.
                 </span>
                 </span>
                 </div>
               </div>
             </div>
           </div>
         </form>
       </div>
       <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
       <button ng-click="adicionarSector(datosSector)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='new'" ng-hide="boton=='upd' || boton=='del'"  ng-disabled="formularioGrupos.grpGrupo.$invalid ">Guardar</button>
       <button ng-click="modificarSector(datosSector.sctSctor,datosSector)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='upd'" ng-hide="boton=='new' || boton=='del'" ng-disabled="formularioGrupos.grpGrupo.$invalid ">Modificar</button>
       <button ng-click="eliminarSector(datosSector.sctSctor,datosSector)" data-dismiss="modal" type="button" class="btn btn-primary" ng-show="boton=='del'" ng-hide="boton=='new' || boton=='upd'"   >Eliminar</button>
       </div>
     </div>
   </div>
</div>
